{% extends "FrontOfficeUserBundle::layout_profile.html.twig" %}
{% block content %}
    <div class="col-lg-12">
        <div class="row mb20"></div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="">
                        <a href="{{ path('show_profil', { 'id' : user.id }) }}" >
                            <span class="icon-trophy"></span> Events
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ path('club_user', { 'id' : user.id }) }}" role="tab" data-toggle="tab">
                            <span class="fa fa-users"></span> Clubs
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('albums_user', { 'id' : user.id }) }}" >
                            <span class="icon-doc"></span> Albums
                        </a>
                    </li>
                    <li class="">
                        <a href="#videos" role="tab" data-toggle="tab">
                            <span class="icon-film"></span> Vidéos
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('palmares_user', { 'id' : user.id }) }}" >
                            <span class="icon-badge"></span> Palmares
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <br>
                    {% if app.user == user %}
                        <div class="buttonsWrapper col-xs-12">
                            <a class="btn btn-round btn-default btn-sm rightus" href="{{ path('add_club')}}"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
                        </div>
                        {% endif %}
                        <br>
                       {% if clubs is empty %} 
                      <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <div align="center">    <strong >Notification Optimus</strong> </div>
                        </div> <div class="row">
                            <img  style="margin-top: -30px;width: 90%;height: 350px;"src="{{ asset('template/images/bienvenue.png') }}"/>
                            <div class="address" align="center" style="margin: 0 20px;">
                                <h4><span   >Nous ne trouvons aucun élément à afficher
                                        pour le moment.
                                        Si vous êtes un nouveau membre d'Optimus ou
                                        si vous n'avez pas encore eu d'activités, alors
                                        il est temps de commencer l'aventure!</span></h4>

                            </div>
                        </div>
                            {% endif %}
                    <ul class="tab-pane fade  active in scrollbar" id="clubs" >
                        
                        {% for club in clubs %}
                            <div class="userWidget-2 col-xs-12" >
                                <div class="tooltipsContainer avatar imagus">
                                    <a href="{{ path('show_club', {'id': club.id }) }}" class="btn btn-round avatar clubos" data-toggle="tooltip" data-tooltip-class="red" data-placement="right" title="{{ club.nom }}"><img src="{{ asset(club.WebPath) }}" alt="avatar" ></a>
                                </div>
                                <div class="col-md-5">
                                    <div class="info">
                                        <div class="name">{{ club.nom }}</div>
                                        <div class="title">Créateur du club : <span class="address">{{ club.createur }}</span></div>
                                        <div class="title">Adresse du club : <span class="address">{{ club.adresse }}</span></div>
                                        <div class="title">Frais d'abonnement : <span class="address">{{ club.fraisAdhesion }} $</span></div>
                                    </div></div>
                                <div class="col-md-4">
                                    <div class="info" >

                                        <div class="title">Text descriptif : <span class="address">{{ club.description }}</span></div>

                                    </div></div>

                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}





                    </ul>
                </div>
                <div class="clearfix"></div>




            </div>

        </div>

    </div>

{% endblock %}




