{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
    <div id="wrapper">
        <div id="content" class="max" style="overflow:hidden !important;">
            <div class="components">
                <h4>Tout</h4>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class="active"><a href="{{ path('all_notifications_user',{'id': app.user.id}) }}" class="notifyName" ><span class="notifyIcon icon-bell"></span> Notiifications</a></li>
                                <li class=""><a href="{{ path('all_invitations_user',{'id': app.user.id}) }}" class="notifyName" ><span class="notifyIcon icon-users"></span> Demandes d'ajout</a></li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <div class="tabsContainer">
                            <div class="tab-content ">
                                <ul class="tab-pane fade active in scrollbar" id="notifications" style="overflow:auto !important;">
                                    <div class="notificationsWidget">
                                        <h5>Notifications</h5>
                                        {% for notification in notifications %}

                                            <div class="notification">
                                                <div class="time green">
                                                    <div class="timeBody hidden-xs">{{ notification.notifications.datenotification|date('Y-m-d H:i:s') }}</div>
                                                    <div class="timeArrow hidden-xs"><span class="fa fa-caret-right"></span></div>
                                                    <div class="indicator"><span class="fa fa-circle-o"></span></div>
                                                    <div class="notifyArrow"><span class="fa fa-caret-left"></span></div>
                                                </div>
                                                <div class="notifyContent">
                                                    <div class="notifyBody">


                                                        <a href="{{ path('show_profil',{'id' : notification.notifications.notificateur.id}) }}">
                                                            {% if notification.notifications.notificateur.path == null %}
                                                                {% if notification.notifications.notificateur.sexe == 'H' %}
                                                                    <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                                                                {% else %}
                                                                    <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                                                                {% endif %}
                                                            {% else %}
                                                                <img class="avatar pull-left"  src="{{ asset(notification.notifications.notificateur.WebPath)}}" alt="avatar" >
                                                            {% endif %}
                                                        </a>
                                                        <div class="notify pull-left">
                                                            <a href="{{ path('show_profil',{'id' : notification.notifications.notificateur.id}) }}" class="name">{{ notification.notifications.notificateur.prenom }} {{ notification.notifications.notificateur.nom }} <span class="label label-green visible-xs">02/02/2015 à 14:48</span></a>
                                                            {% if notification.notifications.type == 'participation' %}
                                                                <div class="message">a participé dans l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'AnnulerParticip' %}
                                                                <div class="message">a annulé sa participation de l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'add' %}
                                                                <div class="message">a ajouté une évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'update' %}
                                                                <div class="message">a modifier l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'delete' %}
                                                                <div class="message">a supprimé l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'comment' %}
                                                                <div class="message">a commenté l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'photo' %}
                                                                <div class="message">a ajouté une photo dans l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'entraineur' %}
                                                                <div class="message">un nouveau entraineur inscrit</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'voteU' %}
                                                                {% set vote = getVote(notification.notifications.idVote, notification.notifications.notificateur.id) %}
                                                                <div class="message">a ajouté un vote de {{vote.value}} etoile sur vous</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'voteE' %}
                                                                {% set vote = getVote(notification.notifications.idVote, notification.notifications.notificateur.id) %}
                                                                <div class="message">a ajouté un vote de {{vote.value}} etoile sur l'évènement {{ notification.notifications.event.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'voteC' %}
                                                                {% set vote = getVote(notification.notifications.idVote, notification.notifications.notificateur.id) %}
                                                                <div class="message">a ajouté un vote de {{vote.value}} etoile sur le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'voteP' %}
                                                                {% set vote = getVote(notification.notifications.idVote, notification.notifications.notificateur.id) %}
                                                                <div class="message">a ajouté un vote de {{vote.value}} etoile sur la competition {{ notification.notifications.competition.titre }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'accepte' %}
                                                                <div class="message">a accepté votre demande</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'refuse' %}
                                                                <div class="message">a refusé votre demande</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'rejClub' %}
                                                                <div class="message">veut rejoindre votre club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'RefDemClub' %}
                                                                <div class="message">a refusé votre demande de rejoindre le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'addClub' %}
                                                                <div class="message">a quitté le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'quiteClub' %}
                                                                <div class="message">a quitté votre club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'AccDemClub' %}
                                                                <div class="message">a accepté la demande de {{ notification.notifications.entraineur.nom }} {{ notification.notifications.entraineur.prenom }} de rejoindre le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'DeleteMemClub' %}
                                                            {% if notification.notifications.entraineur == app.user %}
                                                            <div class="message">vous exclué du club {{ notification.notifications.club.nom }}</div>
                                                            {% else %}
                                                            <div class="message">a exclué {{ notification.notifications.entraineur.nom }} du club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}                                                           
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'modifClub' %}
                                                                <div class="message">a modifié le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'suppClub' %}
                                                                <div class="message">a supprimé le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'addProgram' %}
                                                                <div class="message">a ajouté un programme dans le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'modifProgram' %}
                                                                <div class="message">a modifié un programme dans le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                            {% if notification.notifications.type == 'suppProgram' %}
                                                                <div class="message">a supprimé un programme dans le club {{ notification.notifications.club.nom }}</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="clearfix">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </ul>
                                <div class="loader" id="loaderClub">
                                    <img src="{{asset('template/images/ajax-loader-comment.gif') }}">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}