{% if url is not defined or url == null %}
    {% set url = app.request.uri %}
{% endif %}

{% spaceless %}
{#<a href="https://plus.google.com/share?url={{url}}"  class="g-plusone" data-size="{{size}}" data-annotation="{{annotation}}" data-width="{{width}}" data-href="{{url}}"  style="height: 20px; display: block;">gplus</a>#}
 
 <a href="https://plus.google.com/share?url={{url}}" class="btn btn-icon btn-round btn-o btn-google" data-href="{{url}}" data-lang="{{locale}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"  data-href="{{url}}">
<span class="fa fa-google-plus"></span>
 </a>

 

<script type="text/javascript">
   data-url="{{ url }}" ,
   window.___gcfg = {lang: '{{locale}}' ,
  parsetags: 'onload'};

   (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/plusone.js' async defer;
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
   })();
 </script>

 
{% endspaceless %}