<form action="{{ path('add_reward_user', {'id':app.user.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal0 form-groups-bordered">
    {{ form_errors(form) }}
    <div class="modal-content bordusbottomus">
        <div class="modal-header bordustopus">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="contactLabel">upload Palmares</h4>
        </div>
        <div class="modal-body">
            <div class="contactForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                        {{ form_widget(form.titre) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                        {{ form_widget(form.classment) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                        {{ form_widget(form.date) }}
                    </div>
                       <div class="col-md-12 offset2">
                    Choisie le Coleur du Récompense: <input  type="color" value="#fad345" name="textcolor" style="text-align: center;background: transparent;">
                     </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Annuler</a>
            <button type="submit" class="btn btn-round btn-green">Confirmer</button>
        </div>
    </div> 
    {{ form_widget(form._token) }}
</form>
