<a href="#" target="_blank"><img src="{{ asset('template/images/NR.jpg') }}" alt="a person entering a building" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/MK.jpg') }}" alt="a person entering a building" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/JJ.jpg') }}" alt="a person entering a building" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/contact.jpg') }}" alt="a person entering a building" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/greenpeople.jpg') }}" alt="a person entering a building" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/entrance.jpg') }}" alt="photo of building across from our office" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/bluepeople.jpg') }}" alt="building entrance with neon backlit walls" class="rotating-item"  style="width:100%;height:100%"/></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/reflection3.jpg') }}" alt="building lobby window reflections" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/reflection2.jpg') }}" alt="reflection on building windows" class="rotating-item" style="width:100%;height:100%" /></a>
<a href="#" target="_blank"><img src="{{ asset('template/images/manequine.jpg') }}" alt="two manequines in window" class="rotating-item" style="width:100%;height:100%" /></a>
