{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block  body %}
    <div id="wrapper">
        <div id="content" class="max">
            <div class="components">
                <h4>Paramètres </h4>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class="active"><a href="{{ path('setting_user',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon icon-settings"></span> Compte</a></li>
                                <li class=""><a href="{{ path('setting_user_confidentiality',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon fa fa-unlock-alt"></span> Confidentialité</a></li>
                                <li class=""><a href="{{ path('setting_user_notifications',{'id': app.user.id}) }}" class="notifyName" role="tab" ><span class="notifyIcon icon-bell"></span> Notifications</a></li>
                            </ul>
                        </ol>
                    </div>
                    
                    <div class="col-md-9">
                          {% for flashMessage in app.session.flashbag.get('ModificationEmail') %}
                                            <br/>
                                            <div class="alert alert-success">
                                                <a class="close" data-dismiss="alert">×</a>
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                         {% for flashMessage in app.session.flashbag.get('ModificationUserName') %}
                                            <br/>
                                            <div class="alert alert-success">
                                                <a class="close" data-dismiss="alert">×</a>
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                         {% for flashMessage in app.session.flashbag.get('ModificationPwd') %}
                                            <br/>
                                            <div class="alert alert-success">
                                                <a class="close" data-dismiss="alert">×</a>
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                        <div class="tabsContainer">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="compte">
                                    <div class="panel panel-default">
                                        <div class="panel-heading optimus">Compte</div>
                                        <table  id="example">
                                            
                                               
                                        </table>
                                     
                                        <table class="table" id="{{app.user.id}}">
                                            <thead>
                                                <tr>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><strong>Adresse Email</strong></th>
                                                    <td>
                                                        <div class="emaill">{{ app.user.email }}</div>
                                                        <div id="emaill"  style="display:none">
                                                            {{ render(controller('FrontOfficeUserBundle:User:editEmail', {'id' : app.user.id })) }}
                                                        </div>
                                                    </td>
                                                    <td> 
                                                        <a href="javascript:visibilite('emaill');" class="tabledit-edit-button btn btn-sm btn-warning" style="float:right; border-radius: 25px; " >
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Nom d'utilisateur</strong></th>
                                                    <td>
                                                        <div class="username">{{ app.user.username }}</div>
                                                        <div id="username"  style="display:none">
                                                            {{ render(controller('FrontOfficeUserBundle:User:editUserName', {'id' : app.user.id })) }}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:visibilite('username');" class="tabledit-edit-button btn btn-sm btn-warning" style="float:right; border-radius: 25px;">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Mot de passe</strong></th>
                                                    <td>
                                                        <div class="pwd">********</div>
                                                        <div id="pwd"  style="display:none">
                                                            {{ render(controller('FrontOfficeUserBundle:ChangePassword:changePassword')) }}
                                                        </div>
                                                    </td>
                                                    <td> 
                                                        <a href="javascript:visibilite('pwd');" class="tabledit-edit-button btn btn-sm btn-warning" style="float:right; border-radius: 25px;">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block javascriptfils %}
    <script>
        function visibilite(thingId)
        {
            var targetElement;
            targetElement = document.getElementById(thingId);
            if (targetElement.style.display == "none")
            {
                $('.' + thingId).hide();
                targetElement.style.display = "";
            } else {
                $('.' + thingId).show();
                targetElement.style.display = "none";
            }
        }
    </script>

{% endblock %}
