{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}

    <div id="wrapper">
        <div id="content" class="max">
            <div class="components">

                <form action="{{ path('search_user',{'key':res.key}) }}" method="get">
                    <div class="col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading optimus"> <span class="navLabel">Filtre des recherches</span></div>
                            <div class="panel-body">

                                <div class="form-group col-md-2">

                                    <input type="text" name="key" value="{{res.key}}" class="search-optimus" id="" placeholder="Entrer le nom">
                                </div>
                                <div class="form-group col-md-2">

                                    <select id="" name="profil" class="search-optimus">
                                        <option value="" selected="" disabled="">Profil</option>
                                        <option value="E" {% if res.profil=='Entraineur' %} selected {%endif%} >Entraineur</option>
                                        <option value="S" {% if res.profil=='Sportif' %} selected {%endif%}>Sportif</option>

                                    </select>                                       </div>
                                <div class="form-group col-md-2">

                                    <input type="text" name="adresse" value="{{res.adresse}}"class="search-optimus" id="" placeholder="Adresse">
                                </div>


                                <div class="form-group col-md-2">
                                    <input class="search-optimus" type="email" name="email" value="{{res.email}}" placeholder="Entrer l'email" >
                                </div>
                                <div class="form-group col-md-2">

                                    <input type="tel" class="search-optimus" name="tel" value="{{res.tel}}" placeholder="Entrer le telephone ">

                                </div>
                                <div class="form-group col-md-2">


                                    <button type="submit" value="Submit" class="btn btn-round btn-green search-optimus">Rechercher</button>	</div>



                            </div>
                        </div>

                    </div>
                </form>



                <h4>Résultat des recherches</h4>
                <div class="row">
                    <div class="col-md-3">

                        <ol class="breadcrumb">
                            <ul class="notifyList nav">
                                <li class="active"><a href="{{path('search_user')}}" class="notifyName" role="tab"><span class="notifyIcon fa fa-users"></span> Personnes</a></li>
                                <li class=""><a href="{{path('search_events')}}" class="notifyName" role="tab"><span class="notifyIcon fa fa-trophy"></span> Evenement</a></li>
                                <li class=""><a href="{{path('search_clubs')}}" class="notifyName" role="tab"><span class="notifyIcon fa fa-users"></span> Clubs</a></li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <div class="tabsContainer">

                            <div class="tab-content ">
                                <ul class="tab-pane fade active in scrollbar" id="personne">
                                    <div class="notificationsWidget">
                                        <h5><span class="badge">{{ res.nbr_users}}</span> Personnes</h5>

                                        {% for user in res.users %}
                                            <div class="notification">
                                                <div class="row ">
                                                    <div class="time green">
                                                        <div class="timeBody hidden-xs">{{user.profil}}</div>
                                                        <div class="timeArrow hidden-xs"><span class="fa fa-caret-right"></span></div>
                                                        <div class="indicator"><span class="fa fa-circle-o"></span></div>
                                                        <div class="notifyArrow"><span class="fa fa-caret-left"></span></div>
                                                    </div>
                                                    <a href='{{path('show_profil',{id:user.id})}}'>
                                                        <div class="notifyContent">
                                                            <div class="notifyBody">
                                                                {% if user.path == null %}
                                                                    {% if user.sexe == 'H' %}
                                                                        <img class="avatar pull-left" src="{{asset('men.png')}}" alt="avatar">
                                                                        {% else %}
                                                                            <img class="avatar pull-left" src="{{asset('women.png')}}" alt="avatar">
                                                                              {% endif %}
                                                                    {% else %}
                                                                <img class="avatar pull-left" src="{{asset(user.WebPath)}}" alt="avatar">
                                                             {% endif %}
                                                                <div class="col-md-5 pb20" style="margin-top: 10px;"> <div class=" pull-left">
                                                                        <div class="name"><span class=" navIcon fa fa-user"></span> Nom et Prénom: {{user.nom}} {{user.prenom}}</div>
                                                                    </div></div>
                                                                <div class="col-md-5 pb20" style="margin-top: 10px;"><div class=" pull-left">
                                                                        <div class="name"><span class=" navIcon fa fa-map-marker"></span> Adresse: {{user.adresse}}</div>                                                                    
                                                                    </div></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="clearfix"></div>
                                                </div></div>
                                            {% endfor %}
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{%endblock%}