{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Lieu</th>
                <th>Datecreation</th>
                <th>Datemodification</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Nbrplaces</th>
                <th>Frais</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Status</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in events %}
            <tr>
               
                <td>{{ entity.titre }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateModification %}{{ entity.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nbrPlaces }}</td>
                <td>{{ entity.frais }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.lat }}</td>
                <td>{{ entity.lng }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.active }}</td>
                <td>
                <li>
                        <a href="{{ path('add_participation', { 'id': entity.id }) }}">participer</a>
                    </li>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
           
        </li>
    </ul>
    {% endblock %}
