{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}

{% block body %}
<div id="wrapper">

<div id="content" class="mob-max" >

{% for flashMessage in app.session.flashbag.get('AjouterPohoto') %}

<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('AjouterSponsor') %}

<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('EditEvent') %}

<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}
<div class="col-lg-12"><div class="row mb20">
</div>
<div id="invitation-envoyées" style="display: none;" class="alert alert-success">
<a class="close" id="closemessag">×</a>
les invitations ont été envoyées 
</div>


<div class="col-lg-12">
<!--********************************************************-->

<div class="tooltipsContainer panel panel-default dd">

<a href="#ddPanel" class="btn btn-default btn-lg btn-block" data-toggle="collapse"style="background-color:#c02100;color:#fff;border-color:#c02100;" data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="" data-original-title="Cliquez ici pour voir profil d'evenement">
<span class="navIcon fa fa-users"></span> Profil Evenement<span class="fa fa-arrow-circle-down pull-right"></span>
</a>
<div id="ddPanel" class="panel-collapse collapse" style="margin-top:-6px;">
<div class="panel-body" style="padding:0px;">


<div class="userWidget-1 manamus" style="margin-bottom:0px;" {% if date(event.dateFin)<= date() %}style="background-color: #ddd" {% endif %} >
<div class="avatar" id="main">
<div class="col-md-4">
<div class="propWidget-1 logotus tooltipsContainer ">
<div class="fig salamus">

{% if event.path == null %}
<a href="{{ asset('event.png') }}" data-lightbox-title="photo d'évènement" data-lightbox-gallery="">
<img src="{{ asset('event.png') }}" class="inline-block imaguss">
</a>
{% else %}
<a href="{{ asset(event.WebPath) }}" data-lightbox-title="photo d'évènement" data-lightbox-gallery="">
<img src="{{ asset(event.WebPath) }}" class="inline-block imaguss">
</a>
{% endif %}
{% if event.createur == app.user %}
<div class="priceCap paddus">    <button href="#modifierphotoevent" data-toggle="modal" data-placement="top" class="btn btn-icon btn-round btn-green btn-md optimus-logus" title="" data-original-title="modifier la photo"><span class="notifyIcon fa fa-camera-retro"></span></button>
</div>
{% endif %}
</div>
</div>
</div>
{% if date(event.dateFin)> date() %}
{% if event.createur == app.user %}
<div class="ops">
<a class="btn btn-round btn-default btn-sm" href="#inviteramievent" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Inviter</span></a>
<a class="btn btn-round btn-default btn-sm" href="{{ path('update-event',{id: event.id})}}" ><span class="fa icon-settings state"></span> <span class="state">Gérer</span></a>
<a class="btn btn-round btn-default btn-sm" href="#supprimuss" data-toggle="modal"><span class="fa icon-trash state"></span> <span class="state">Supprimer</span></a> 
</div>
{% endif %}
{% endif %}
<div class="name osLight profilus namusclubus"><strong>{{event.titre}}</strong></div>
</div>


<div class=" address profilus" style="font-size:18px;"> 

{% set isparticipant = isParticipant(event,app.user) %}



<div class="row">
<div class="cardRating col-md-5" style="margin-left: -40px;"> 
{% if isparticipant and date(event.dateFin)> date() %}
<div>{% include 'FrontOfficeRatingBundle:Rating:control.html.twig' with { 'id' : 'E'~event.id } %}</div>
{% else %}
<div>{% include 'FrontOfficeRatingBundle:Rating:rating.html.twig' with { 'id' : 'E'~event.id } %}</div>
{% endif %}
</div>
<div class="cardRating col-md-6" style="margin-left:-20px;">
<div class="label labelus label-yellow " >
{% if date(event.dateFin)> date() %}
Nombre de participants : <span  id="nbparticip"> {{event.participations|length}}</span>
{% else %}
Cette évènement est depassé
{% endif %}
</div>
</div>
<br><br>
<div class="title profilus"></div>
<div class="buttonsWrapper"> 

<div class="row">
<div class="col-md-5 pb20">

<div class="pc-about osLight" style="margin-left: -37%;">
<div class="title eventus showoptimus">
<div class="userWidget-2 shownamus" style="width:140% !important;">
<a href="{{ path('show_profil',{'id' :event.createur.id})}}" target="_blank">
<div class="avatar" style="background-color:#fff !important">
{% if event.createur.path == null %}
{% if event.createur.sexe == 'H' %}
<img src="{{ asset('men.png') }}" alt="avatar" class="tooltipus2-image" style="top:30% !important;">
{% else %}
<img src="{{ asset('women.png') }}" alt="avatar" class="tooltipus2-image">
{% endif %}
{% else %}
<img src="{{ asset(event.createur.WebPath) }}" alt="avatar" class="tooltipus2-image">
{% endif %}
</div>
</a>
<div class="info" style="margin-left: 30%;  margin-top: 3%;">
<a  href="{{ path('show_profil',{'id' :event.createur.id})}}" target="_blank"><div class="name">{{ event.createur.nom ~' '~event.createur.prenom }}</div></a>
<div class="title" style="margin-left:0">{{event.createur.profil}}</div>
<div class="address" style="margin-left:0">{{event.createur.adresse}}</div>
</div>

<div class="commentArrow-show"><span class="fa fa-caret-down"></span></div> <div class="clearfix"></div>
</div>
Créateur :<a href="{{ path('show_profil',{'id' :event.createur.id})}}" target="_blank"><span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #c02100 !important;">{{ event.createur.nom ~' '~event.createur.prenom }}</span></a>
</div>
<div class="title eventus">Date début :<span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.dateDebut|date("d/m/Y h:i")}}</span></div>
<div class="title eventus">Date fin :<span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.dateFin|date("d/m/Y h:i")}}</span></div>
<div class="title eventus">Lieu :<span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.lieu}}</span></div><br>

</div>

</div>
<div class="col-md-5" style=" margin-left: -20px;">
<div class="pc-title osLight"><div class="title eventus">Type d'évenement : <span class="address leftus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.type}}</span></div>
{% if event.nbrPlaces %}
<div class="title eventus">Nombre de places : <span class="address leftus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.nbrPlaces}}</span></div>
{% endif %}
{% if event.frais %}
<div class="title eventus">Frais participation : <span class="address leftus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{event.frais}} &euro; </span></div>
{% endif %}

</div>

</div></div></div>

{% if event.description %}
<div class="row descriptus">
<div class="col-md-12 pb20">
<div class="pc-about osLight">
<div class="title">Description : <span class="address detaillus"style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;"> 
Pour lire la description  <a href="#clikus" data-toggle="modal" style="color:#C02100"><strong><u> clic ici...  </u> </strong></a>
</span></div>
</div></div></div>
{% endif %}

<div class="row tooltipsContainer" style="margin-left:-140px">

<div class="col-md-4 pb20">

{% if event.createur != app.user and date(event.dateFin)> date() %}
<div class="pc-about osLight" id="append">
{% if not isparticipant %}
<a class="btn btn-green btn-round " href="#"  id="exit_event">
<span class="fa fa-plus-circle" data-toggle="tooltip" data-tooltip-class="green" data-placement="top" title="" data-original-title="Participer"></span> <span >Participer</span>                                          
</a><a class="loader" id="loaderPart"> <img src="{{asset('template/images/ajax-loader-comment.gif') }}"></a>
{% else %}
<a class="btn btn-green btn-round " href="#" id="exit_event">
<span class="fa fa-plus-circle " data-toggle="tooltip" data-tooltip-class="green" data-placement="top" title="" data-original-title="Participer"></span> <span class="exitEvent">Annuler participation</span>                                          
</a><a class="loader" id="loaderPart"> <img src="{{asset('template/images/ajax-loader-comment.gif') }}"></a>
{% endif %}
</div>
{% endif %}
</div>

<div class="col-md-4">
<div class="pc-title osLight" id="append2">

<div class="buttonsWrapper pb20 ">
{% if isparticipant and date(event.dateFin)> date()%}
{{ socialButtons( {'pinterest' : false,'linkedin': false}) }}
{% endif %}
</div>

</div>

</div>

<div class="col-md-4">
<div class="pc-title osLight">
<a href="{{ path('show_accueil',{'id': event.id }) }}" class="btn btn-round btn-o btn-yellow" data-toggle="tooltip" data-tooltip-class="yellow" data-placement="top" title="{{ event.eventcomments|length }} personnes ont commenté cet événement" data-original-title="Nombre commentaires"><span class="fa fa-comments"></span> <strong>{{ event.eventcomments|length }}</strong></a>
<a href="#" class="btn btn-round btn-o btn-yellow" data-toggle="tooltip" data-tooltip-class="yellow" data-placement="top" title="{{ event.nbrvu }} ont lu cet événement" data-original-title="Nombre de vue"><span class="fa fa-eye"></span> <strong>{{ event.nbrvu }}</strong></a>
<a href="#" style="color:#c02100"></a>
<a href="#" style="color:#c02100"></a>

</div>

</div>
</div>


</div>

</div>

<div class="clearfix"></div>
</div>
</div>
</div>
</div>





<!--********************************************************-->


<div class="tabsContainer">
<ul class="nav nav-tabs nav-justified" role="tablist">
<li class="active"><a href="#participants" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Participants</a></li>
<li class=""><a href="#photos" role="tab" data-toggle="tab"><span class="icon-doc"></span> Photos</a></li>
<li class=""><a href="#videos" role="tab" data-toggle="tab"><span class="icon-film"></span> Vidéos</a></li>
<li class=""><a href="#sponsor" role="tab" data-toggle="tab"><span class="icon-film"></span> Sponsor</a></li>
</ul>
<div class="tab-content">

<ul class="tab-pane fade  active in scrollbar" id="participants" >
<div id="msgparticipe" ></div>
<br/>
<div class="row" id="blockparticip">

{% for participant in event.participations %}
<div class="col-md-4" id="particip{{participant.participant.id}}">

<div class="tooltipsContainer agent notifyList">
<a href="{{ path('show_profil',{'id': participant.participant.id}) }}" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{participant.participant.prenom}} {{participant.participant.nom}}">

{% if participant.participant.path == null %}
{% if participant.participant.sexe == 'H' %}
<img src="{{ asset('men.png') }}" class="inline-block imaguss">
{% else %}
<img src="{{ asset('women.png') }}" class="inline-block imaguss">
{% endif %}
{% else %}
<img src="{{ asset(participant.participant.WebPath) }}" alt="">         

{% endif %}

<div class="pulse border-green pulseoptimus"></div>
</a>
<div class="info">
<a href="{{ path('show_profil',{'id': participant.participant.id}) }}"> <div class="name clubumus"><strong>{{participant.participant.prenom}} {{participant.participant.nom}}</strong></div></a>
<div class="title">{{participant.participant.profil}}</div>

</div><br>
</div>
</div>
{% endfor %}

</div>

<div class="clearfix"></div>

</ul>
<ul class="tab-pane fade  scrollbar" id="photos" >
<div class="row" >
{% set participantOuNon=ParticipantOuNon(event,app.user) %}
{% if participantOuNon == 1 %}
<div id="listephotoA" >
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#uploadphoto" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Upload</span></a><br>
</div>
<div class="buttonsWrapper col-xs-12">
{% for photo in event.images %}
<div class="col-sm-4" id="{{ photo.id }}">
<div  data-linkto="" class="propWidget-1 tooltipsContainer  ">
<div class="fig " id="main">
<a href="{{ asset(photo.WebPath) }}" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="{{ photo.WebPath|imagine_filter('my_thumb')  }}" />
</a>
{% if app.user == photo.user %}
<div class="priceCap paddus">
<button href="#suppritus{{photo.id}}" data-toggle="modal" data-placement="left" class="btn btn-icon btn-round btn-green btn-md rightus" title="supprimer"><span class="icon-trash"></span></button>
</div>
{% endif %}
<div class="figCap">
<div class="address">Cliquez pour agrandir l'image</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="suppritus{{photo.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<form class="contactForm">
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer cette photo ?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerPhoto{{photo.id}}" href="#" type="submit" value="Submit" class="btn btn-round btn-green">Confirmer</a>
</div>
</form>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="modal fade" id="uploadphoto" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Photo:createPhotoEvent',  {'id': event.id })) }}
</div>
</div>
</div>
{% else %}
<div  id="photopriveeA" class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>cette catégorie reservée pour les participants</strong> 
</div>
{% endif %}
<div id="listephoto" style="display: none">
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#uploadphoto" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Upload</span></a><br>
</div>
<div class="buttonsWrapper col-xs-12">
{% for photo in event.images %}
<div class="col-sm-4" id="{{ photo.id }}">
<div  data-linkto="" class="propWidget-1 tooltipsContainer  ">
<div class="fig " id="main">
<a href="{{ asset(photo.WebPath) }}" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="{{ asset(photo.WebPath) }}" />
</a>
{% if app.user == photo.user %}
<div class="priceCap paddus">
<button href="#suppritus{{photo.id}}" data-toggle="modal" data-placement="left" class="btn btn-icon btn-round btn-green btn-md rightus" title="supprimer"><span class="icon-trash"></span></button>
</div>
{% endif %}
<div class="figCap">
<div class="address">Cliquez pour agrandir l'image</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="suppritus{{photo.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<form class="contactForm">
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer cette photo ?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerPhoto{{photo.id}}" href="#" type="submit" value="Submit" class="btn btn-round btn-green">Confirmer</a>
</div>
</form>
</div>
</div>
</div>
{% endfor %}
</div>
<div class="modal fade" id="uploadphoto" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Photo:createPhotoEvent',  {'id': event.id })) }}
</div>
</div>
</div>
<div id="photoprivee" class="alert alert-danger alert-dismissible fade in" style="display: none" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>cette catégorie reservée pour les participants</strong> 
</div>
</div>
</ul>
<ul class="tab-pane fade scrollbar" id="videos"  >
{% set participantOuNon=ParticipantOuNon(event,app.user) %}
<div class="row">
{% if participantOuNon == 1 %}

<br>
{#   <div class="col-xs-4" >
<div data-linkto="" class="card albumus" >
<div class="figure" id="main">
<a href="images/bg-1.jpg" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="images/bg-1.jpg" />
</a>

<div class="figView"><span class="icon-eye"></span></div>

</div>
<h2 align="center">Titre de video</h2>

<div align="center" >
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
</div>
<br>

<div class="clearfix"></div>
</div>
</div>#}

<img src="{{ asset('154.png') }}" style='width: 100%;'>
{% else %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>cette catégorie reservée pour les participants</strong> 
</div>
{% endif %}
</div>
<div class="clearfix"></div>
</ul>
<ul class="tab-pane fade scrollbar" id="sponsor"  >
{% set participantOuNon=ParticipantOuNon(event,app.user) %}
<div class="row">
{% if app.user == event.createur %}
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#ajoutersponsor" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Ajouter Sponsor</span></a><br>
</div>
{% endif %}
<br>
{% if event.sponsere|length != null %}

{% if participantOuNon == 1 %}

<div id="listephotoA" >

<div class="buttonsWrapper col-xs-12">
{% for sponsor in event.sponsere %}
<div class="col-sm-4" id="{{ sponsor.id }}">
<div  data-linkto="" class="propWidget-1 tooltipsContainer  ">
<div class="fig " id="main">
<a href="{{ asset(sponsor.WebPath) }}" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="{{ sponsor.WebPath|imagine_filter('my_thumb')  }}" />
</a>
{% if app.user == event.createur %}
<div class="priceCap paddus">
<button href="#supprimsponsor{{sponsor.id}}" data-toggle="modal" data-placement="left" class="btn btn-icon btn-round btn-green btn-md rightus" title="supprimer"><span class="icon-trash"></span></button>
</div>
{% endif %}
<div class="figCap">
<div class="address">Cliquez pour agrandir l'image</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="supprimsponsor{{sponsor.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<form class="contactForm">
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer Sponsor ?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerSponsor{{sponsor.id}}" href="#" type="submit" value="Submit" class="btn btn-round btn-green">Confirmer</a>
</div>
</form>
</div>
</div>
</div>
{% endfor %}
</div>

</div>

{% else %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>cette catégorie reservée pour les participants</strong> 
</div>
{% endif %}
{% else %}
<br>
<div  id="sponsorvide" class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Aucune Sponsor</strong> 
</div>
{% endif %}

</div>
<div class="clearfix"></div>
</ul>
</div>
<div class="clearfix"></div>

</div>

</div>

</div>
</div>
<div id="map-event" style="height: 100%" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>
</div>
<!------------------- modal supprission------------------->
<div class="modal fade" id="supprimuss" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer ce evenement ?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a href="{{ path('delete-event-profil',{'id': event.id}) }}" class="btn btn-round btn-green">Confirmer</a>
</div>
</div>
</div>
</div>

<div class="modal fade" id="ajoutersponsor" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Event:createSponsorEvent',  {'id': event.id })) }}
</div>
</div>
<!---------------------------- modal inviteramievent----------------------------->
<div class="modal" id="inviteramievent"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Liste des partipants </h4>
</div>
<form method="post">
<input id="inviterevent" type="hidden" name="event" value="{{event.id}}"/>
<div class="modal-body" >
<ul id='blockInvit' class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 200px;background-color:#fff;">
<div id="listami" class="col-md-12">

{% set i = 0 %}
{% set friends = getFriends(event.createur.id) %}

{%for friend in friends %}

{% set participantOuNon=ParticipantOuNon(event,friend) %}
{% if participantOuNon == 0 %}
{% set i = i+1 %}
<label class="checkbox custom-checkbox col-md-6" style="margin-top: 0px">
<input id="listefrirnd{{friend.id}}" type="checkbox" name="name[]" value="{{ friend.id }}">
<span class="fa fa-check" style="margin-top: 3%;"></span>
{% if friend.path == null %}
{% if friend.sexe == 'H' %}
<img  style="width: 10%;margin-left: 4%;" src="{{ asset('men.png') }}">
{% else %}
<img  style="width: 10%;margin-left: 4%;" src="{{ asset('women.png') }}">
{% endif %}
{% else %}
<img  style="width: 10%;margin-left: 4%;"  src="{{ asset(friend.WebPath)}}" alt="avatar" ></a>
{% endif %}
Pseudo: {{friend.username}}
<div style="margin-top: 2%;"></div>
</label>
{% endif %}

{#<input id="listefrirnd{{friend.id}}" type="checkbox" name="name[]" value="{{ friend.id }}" /><a href="#" data-toggle="tooltip" data-tooltip-class="red" data-placement="right" title="{{friend.username}}">
{#<img src="{{ asset('event.jpg')}}" alt="avatar" ></a>#}
{#{% if friend.path == null %}
{% if friend.sexe == 'H' %}
{#<img style="width: 10%;" src="{{ asset('men.png') }}">
{% else %}
<img style="width: 10%;" src="{{ asset('women.png') }}">
{% endif %}
{% else %}
<img style="width: 10%;"  src="{{ asset(friend.WebPath)}}" alt="avatar" ></a>
{% endif %}
<span style="margin-left:10%;">Pseudo: {{friend.username}}</span>

<div style="margin-top: 2%;"></div>#}
{#{% endif %}#}
{% endfor %}
{% if i == 0 %}                


<div id="invitation-envoyées"  class="alert alert-success">

tous vos  amis sont particip
</div>
{% endif %}                                                                      

</div>
</ul>
<div class="modal-footer supp-album">
{% if i > 0 %} 
<a href="#" id="submitInvit" class="btn btn-round btn-o btn-green">Inviter</a>
<a class="loader" id="loader_inviter_event">
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
{% endif %}
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
</div>
</form>
</div>
</div>
</div>
</div>

</div>

<!---------------------------- fin modal inviteramievent------------------------->
<!------------------- modal cliquez ici------------------->
<div class="modal fade" id="clikus" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Description </h4>
</div>
<div class="modal-body">
<form class="contactForm">
<ul class="notifyList scrollbar">

{{ event.description|raw}}


</ul>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>




</div></form>
</div>
</div>
</div>


<!-------------------fin modal suppression------------------->
<!------------------- modal edit photo------------------->

<div class="modal fade" id="modifierphotoevent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Event:editPhotoEvent',  { 'id': event.id })) }}
</div>
</div>
<!-------------------fin modal edit photo------------------->
{% endblock %}
{% block javascriptfils %}
<script>
$('#closemessag').click(function(){
$('#invitation-envoyées').hide();
});    </script>
<script>
$("#submitInvit").click(function(){
{% set friends = getFriends(event.createur.id) %}
$("#submitInvit").hide();
$('#loader_inviter_event').show();
var event = $("#inviterevent").val();
var name = new Array;
test = 'false';
var i = 0;{%for friend in friends %}{% set participantOuNon=ParticipantOuNon(event,friend) %}
{% if participantOuNon == 0 %}
if (document.getElementById('listefrirnd{{friend.id}}').checked){
name[i] = $("#listefrirnd{{friend.id}}").val();
i = i + 1;
// test = 'true';
}
{% endif %}

{% endfor %}
//alert(name);

$.ajax({
type: "POST",
url: Routing.generate('inviter_ami_event'),
data: {name:name, event:event},
dataType: 'json',
success: function(data) {


$('#loader_inviter_event').hide();
$('#inviteramievent').toggle();
$('.modal-backdrop').hide();
$("#submitInvit").show();
$('#invitation-envoyées').show();{%for friend in friends %}{% set participantOuNon=ParticipantOuNon(event,friend) %}
{% if participantOuNon == 0 %}
document.getElementById('listefrirnd{{friend.id}}').checked = false;{% endif %}{% endfor %}

}
});
});</script>

<script>
"use strict";
function initialize() {
var options = {
zoom : 15,
mapTypeId: google.maps.MapTypeId.HYBRID
};
var mapevent = new google.maps.Map(document.getElementById('map-event'), options);
if (navigator.geolocation) {

navigator.geolocation.getCurrentPosition(function (position) {

var posevent = new google.maps.LatLng(position.coords.latitude,
position.coords.longitude);
var newMarker = new google.maps.Marker({

position: posevent,
map: mapevent,
icon: new google.maps.MarkerImage('http://www.optimus-beta.com/template/images/marker-position.png'),
draggable: false,
animation: google.maps.Animation.DROP

});
var myLatLng = new google.maps.LatLng({{event.lat}}, {{event.lng}});
var markerevent = new google.maps.Marker({
position: myLatLng,
map: mapevent,
icon: new google.maps.MarkerImage('http://www.optimus-beta.com/template/images/marker-green.png'),
draggable: false,
animation: google.maps.Animation.DROP
});
var directionsDisplay;
var directionsService = new google.maps.DirectionsService()
directionsDisplay = new google.maps.DirectionsRenderer({
polylineOptions: {
strokeColor: "#c02100"
}
});
directionsDisplay.setMap(mapevent);
calcRoute();
function calcRoute() {

var request = {
origin:posevent,
destination:myLatLng,
travelMode: google.maps.TravelMode.DRIVING
};
directionsService.route(request, function(response, status) {
if (status == google.maps.DirectionsStatus.OK) {
directionsDisplay.setDirections(response);
directionsDisplay.setOptions({ suppressMarkers: true });
}
});
}
}, function () {
handleNoGeolocation(true);
});
} else {
handleNoGeolocation(false);
}



}

google.maps.event.addDomListener(window, 'load', initialize);
$('#exit_event').click(function() {
$('#exit_event').empty();
$('#loaderPart').show();
$.ajax({
url: Routing.generate('exit_event', {'id': {{event.id}}}),
success: function(data) {

$("#exit_event").html(data.msg);
var test = data.etat;
if (test == 0){
$("#listephotoA").hide();
$("#listephoto").hide();
$("#photoprivee").show();
$('#loaderPart').hide();
$('#append2').hide();
var nb = parseInt($('#nbparticip').text());
var nouveauNb = nb - 1;
$('#nbparticip').replaceWith('<span id="nbparticip">' + nouveauNb + '</span>');
$('#particip{{app.user.id}}').replaceWith();
$('#msgparticipe').replaceWith('<div id="msgparticipe" style="text-align: center;color: green;">Annuler participation avec succes</div>');
} else{

$("#photopriveeA").hide();
$("#photoprivee").hide();
$("#listephoto").show();
$('#loaderPart').hide();
$('#append2').show();
var nb = parseInt($('#nbparticip').text());
var nouveauNb = nb + 1;
$('#msgparticipe').replaceWith('<div id="msgparticipe" style="text-align: center;color: green;">Participation avec succes</div>');
$('#nbparticip').replaceWith('<span id="nbparticip">' + nouveauNb + '</span>');
$('#blockparticip').append('<div class="col-md-4" id="particip{{app.user.id}}">' +
'<div class="tooltipsContainer agent notifyList">' +
'<a href="{{ path('show_profil',{'id': app.user.id}) }}" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{app.user.prenom}} {{app.user.nom}}">' +{% if app.user.path == null %}{% if app.user.sexe == 'H' %}
'<img src="{{ asset('men.png') }}" class="inline-block imaguss">' +{% else %}
'<img src="{{ asset('women.png') }}" class="inline-block imaguss">' +{% endif %}{% else %}
'<img src="{{ asset(app.user.WebPath) }}" alt="">' +{% endif %}
'<div class="pulse border-green pulseoptimus"></div>' +
'</a>' +
'<div class="info">' +
'<a href="{{ path('show_profil',{'id': app.user.id}) }}"> <div class="name clubumus"><strong>{{app.user.prenom}} {{app.user.nom}}</strong></div></a>' +
'<div class="title">{{app.user.profil}}</div>' +
'</div><br>' +
'</div>' +
'</div>');
}

}
});
});{% for photo in event.images %}
$('#supprimerPhoto{{photo.id}}').click(function() {


$.ajax({
url: Routing.generate('photo_delete', {'id':{{photo.id}}}),
success: function(data) {
$('#' + data).hide();
$('#suppritus{{photo.id}}').toggle();
$('.modal-backdrop').hide();
}
});
});
{% endfor %}

</script>
<script>
$('.showoptimus').hover(function() {
$(this).find('.shownamus').stop(true, true).delay(1).fadeIn(1);
}, function() {
$(this).find('.shownamus').stop(true, true).delay(200).fadeOut(500);
});
</script>

{% endblock %}