{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
    <div id="wrapper">
      
        <input style="width: 50%; visibility: hidden;" type="text" class="form-control" id="pac-input2" placeholder="Entrer ici votre région" autocomplete="on" size="60">
 
        {#<div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>#}
        <div id="content" class="mob-max" style="height: 356px;">
        
            <div id="content2" class="col-lg-12"><div class="row mb20">
                </div>

                <div class="col-lg-12">
                    <div class="notificationsWidget">
                        <div class="singleTop whiteBg">
                            {% set amis = getFriends(user.id)%}
                            {% if events is empty %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
                                    <button type="button" class="close" data-dismiss="alert"></button>
                                    <div align="center">    <strong >Notification Optimus</strong> </div>
                                </div> <div class="row">
                                    <img  style="  margin-top: -20px;width: 100%;"src="{{ asset('template/images/bienvenue.png') }}"/>
                                    <div class="address" align="center">
                                        <h4><span>Nous ne trouvons aucun élément à afficher
                                                pour le moment.
                                                Si vous êtes un nouveau membre d'Optimus ou
                                                si vous n'avez pas encore eu d'activités, alors
                                                il est temps de commencer l'aventure!</span></h4>

                                    </div></div>{% endif %}
                                    {% for event in events %}
                                    <div class="notificationsWidget tooltipsContainer">
                                        <div class="notification">
                                            <div class="time green">
                                                <a href="{{ path('show_event', { 'id' : event.id }) }}" class="timeBody hidden-xs" data-toggle="tooltip" data-tooltip-class="red" data-placement="top" title="Voir profil d'évènement" {% if date(event.dateFin) < date() %} style="background-color: rgba(192, 33, 0, 0.2); color: #000;"{% endif %}>{{ event.titre }}</a>
                                                <div class="timeArrow hidden-xs"><span class="fa fa-caret-right"></span></div>
                                                <div class="indicator"><span class="fa fa-circle-o"></span></div>
                                                <div class="notifyArrow"><span class="fa fa-caret-left"></span></div>
                                            </div>
                                            <div class="notifyContent tooltipsContainer">
                                                <div class=" notifyBody">
                                                    <a href="{{ path('show_profil', {'id' : event.createur.id}) }}">

                                                        {% if event.createur.path == null %}
                                                            {% if event.createur.sexe == 'H' %}
                                                                <img class="avatar pull-left " src="{{ asset('men.png') }}" alt="avatar" data-toggle="tooltip" data-tooltip-class="red" data-placement="top" title="Profil">
                                                            {% else %}
                                                                <img class="avatar pull-left" src="{{ asset('women.png') }}"  data-toggle="tooltip" data-tooltip-class="red" data-placement="top" title="Profil">
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="avatar pull-left" src="{{ asset(event.createur.WebPath)}}" alt="avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="top" title="Profil">
                                                        {% endif %}
                                                    </a>
                                                    <div class="notify pull-left">
                                                        <div class="name">{{ event.createur.prenom }} {{ event.createur.nom }}<span class="label label-green visible-xs">Nom d'évenement</span></div>
                                                        <div class="info">
                                                            <div class="address">{{ event.lieu }}</div>
                                                            <div class="title">Date début :{{ event.dateDebut|date('d/m/Y à H:i')}}</div><div class="title">Date de fin :{{ event.dateFin|date('d/m/Y à H:i') }}</div>
                                                            {% if event.nbrPlaces %}
                                                            <div class="title">Nombre de places: {{ event.nbrPlaces }} </div>
                                                            {% endif %}
                                                            {% if event.frais %}
                                                            <div class="title">Prix: {{ event.frais }} &euro;</div>
                                                            {% endif %}
                                                            
                                                        </div>
                                                        <br/>
                                                        <div class="buttonsWrapper pb20" id="append{{event.id}}">

                                                            {% set participantOuNon=ParticipantOuNon(event,user) %}
                                                            {% if participantOuNon == 0 and date(event.dateFin)> date() %}
                                                                <a class="btn btn-green btn-round eventus" href="#"  id="exit_event{{event.id}}">
                                                                    <span class="fa icon-action-redo "></span> <span class="requestEvent{{event.id}}">Participer</span>                                          
                                                                </a>
                                                                <a class="loader" id="loaderPart_{{event.id}}"> <img src="{{asset('template/images/ajax-loader-comment.gif') }}"></a>
                                                                {% elseif date(event.dateFin)>= date() %}
                                                                    {% if  event.createur.id != user.id %}
                                                                    <a class="btn btn-green btn-round eventus" href="#" id="exit_event{{event.id}}">
                                                                        <span class="fa icon-action-redo "></span> <span class="exitEvent{{event.id}}">Annuler participation</span>                                          
                                                                    </a>
                                                                    <a class="loader" id="loaderPart_{{event.id}}"> <img src="{{asset('template/images/ajax-loader-comment.gif') }}"></a>
                                                                    {% endif %}

                                                                <div id="appendshare{{event.id}}" class="buttonsWrapper pb20 buttonleftus" >{{ socialButtons( {'pinterest' : false,'linkedin': false}) }}</div>

                                                            {% endif %}

                                                        </div>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <ul id="content_msg_{{event.id}}" class="commentsWidget scrollbar">
                                        <div id="content2_msg_{{event.id}}" class="raw">
                                            {%for key, comment in event.eventcomments|reverse %}
                                                {% if key < 5 %}
                                                    <div class="comment">
                                                        <div class="commentAvatar">
                                                            <a href="{{ path('show_profil', {'id' : comment.commenteur.id}) }}">
                                                                {% if comment.commenteur.path == null %}
                                                                    {% if comment.commenteur.sexe == 'H' %}
                                                                        <img class="avatar" src="{{ asset('men.png') }}" alt="avatar">
                                                                    {% else %}
                                                                        <img class="avatar" src="{{ asset('women.png') }}" alt="avatar">
                                                                    {% endif %}
                                                                {% else %}
                                                                    <img class="avatar" src="{{ asset(comment.commenteur.WebPath)}}" alt="avatar">
                                                                {% endif %}
                                                            </a>

                                                            <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
                                                        </div>
                                                        <div class="commentContent">
                                                            <div class="commentName">{{ comment.commenteur.prenom }} {{ comment.commenteur.nom }}</div>
                                                            <div class="commentTime" style="margin-left: 10px;"><span class="icon-clock"></span> {{ comment.getDureeComment()}}</div><br>
                                                            <div class="commentBody">{{ comment.Commentaire}}</div>

                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                    </ul>

                                    <div class="commentsWidgetForm">
                                        <div class="cfAvatar">

                                            {% if app.user.path == null %}
                                                {% if app.user.sexe == 'H' %}
                                                    <img class="avatar" src="{{ asset('men.png') }}" alt="avatar">
                                                {% else %}
                                                    <img class="avatar" src="{{ asset('women.png') }}" alt="avatar">
                                                {% endif %}
                                            {% else %}
                                                <img class="avatar" src="{{asset(app.user.WebPath)}}" alt="avatar">
                                            {% endif %}

                                        </div>
                                        <div class="commentsForm">
                                            <div class="input-group">
                                                <input id="input_{{event.id}}" type="text" class="form-control" placeholder="Ajoutez un commentaire...">
                                                <span class="input-group-btn">
                                                    <a id="btnmsg_{{event.id}}" class="btn round btn-green">Commenter</a>
                                                    <img id="btnlod_{{event.id}}" style="display: none;" src="{{asset('template/images/ajax-loader-comment.gif') }}">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <br/>

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="loader"> <img src="{{asset('template/images/ajax-loader(2).gif') }}"></div> -->
            </div>
            <div id="map-event" style="height: 100%" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div> </div>
            <!--- baniere publicitaire ****************************************************  -->
            <div class="puboptimus col-md-6" id="puboptimus">
                <i id="closepub" class="glyphicon glyphicon-remove pull-right" style="z-index: 1111;"></i>
<div id="rotating-item-wrapper" >
{%include 'bn.html.twig' %}
</div>
</div>
            <!--- fin baniere publicitaire ****************************************************  --> 
            <div class="clearfix"></div>
        </div>

        <!-- Header -->
        {% endblock %} 
            {% block javascriptfils %}
                <script>
                    
                    "use strict";
                    function initialize() {
                            var options = {
                            center: { lat: -34.397, lng: 150.644},
                            zoom : 15,
                            mapTypeId: google.maps.MapTypeId.HYBRID
                            };
                        var markers = [];                        
                    
                                            var infobox = new InfoBox({
                                            disableAutoPan: false,
                                                    maxWidth: 202,
                                                    pixelOffset: new google.maps.Size( - 101, - 285),
                                                    zIndex: null,
                                                    boxStyle: {
                                                    background: "url('http://optimus.events/template/images/infobox-bg.png') no-repeat",
                                                            opacity: 1,
                                                            width: "202px",
                                                            height: "245px"
                                                    },
                                                    closeBoxMargin: "10px 10px 0px 0px",
                                                    closeBoxURL: "",
                                                    infoBoxClearance: new google.maps.Size(1, 1),
                                                    pane: "floatPane",
                                                    enableEventPropagation: false
                                            });
                                          


                                           var map = new google.maps.Map(document.getElementById('map-event'), options);
                                                    map.setZoom(15);
                                                    
                                                    var markerevent;
        var geocoder;
        geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function(event) {


         
            var latlng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
            //latlng = event.latLng;

            geocoder.geocode({
                'latLng': latlng
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                       
                        placeMarker(event.latLng);
                    } else {
                        alert('No results found');
                    }
                } else {
                    alert('Geocoder failed due to: ' + status);
                }

            });

        });
        
                                                    
                                                    if (navigator.geolocation) {
                                            navigator.geolocation.getCurrentPosition(function (position) {
                                           var pos = new google.maps.LatLng(position.coords.latitude,
                                                    position.coords.longitude);
                                                    var newMarker = new google.maps.Marker({
                                                    position: pos,
                                                            map: map,
                                                            icon: new google.maps.MarkerImage('http://optimus.events/template/images/marker-position.png'),
                                                            draggable: false,
                                                            animation: google.maps.Animation.DROP,
                                                    });
                                                    map.setCenter(pos);

                                                    
                                            }, function () {
                                            handleNoGeolocation(true);
                                            });
                                            } else {
                                            handleNoGeolocation(false);
                                            }


                                    {% for club in clubs %}
                                                var myLatLng = new google.maps.LatLng({{club.lat}}, {{club.lng}});
                                                        var marker_{{ club.id}} = new google.maps.Marker({
                                                        position: myLatLng,
                                                                map: map,
                                                                icon: new google.maps.MarkerImage('http://optimus.events/club2.png'),
                                                                draggable: false,
                                                                animation: google.maps.Animation.DROP,
                                                                title: "Cliquez pour voir aperçu"
                                                        });
                                                        var image ={% if club.path == null %}
                                                        "{{ asset('logoclub.png') }}"
                                    {% else %}
                                                        "{{ asset(club.WebPath)}}"
                                        {% endif %}
                                                            var contenuInfoBulle_{{ club.id}} =  '<div class="infoW">' +
                                                            '<div class="propImg">' +
                                                            '<img class="closeInfo" src="' + image + '">' +
                                                            '<div class="propBg closeInfo">' +
                                                            {% if club.fraisAdhesion %}
                                                            '<div class="propPrice">{{club.fraisAdhesion}} &euro;</div>' +
                                                            {% endif %}
                                                            {% if club.discpline %}
                                                            '<div class="propType">{{club.discpline}}</div>' +
                                                            {% endif %}
                                                            '</div>' +
                                                            '</div>' +
                                                            '<div class="paWrapper closeInfo" >' +
                                                            '<div class="propTitle">{{club.nom}}</div>' +
                                                            '<div class="propAddress">{{club.adresse}}</div>' +
                                                            '</div>' +
                                                            '<div class="propRating">' +
                                                            '{% include 'DCSRatingBundle:Rating:rating.html.twig' with {'id' : "C"~club.id} %}' +
                                                            '</div>' +
                                                            '<div class="clearfix"></div>' +
                                                            '<div class="infoButtons">' +
                                                            {% if club.createur != app.user and app.user.profil == 'Sportif'%}
                                                            {% set memberconfirmed = getMembreConfirmed(app.user,club) %}
                                                            {% if memberconfirmed is empty %}											
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" id="Rej{{club.id}}">Rejoindre</a>' +
                                                            {% elseif memberconfirmed.confirmed == 0 %}
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" id="EnAtt{{club.id}}">En attente</a>' +
                                                            {% elseif memberconfirmed.confirmed == 1 %}
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" id="Quitter{{club.id}}">Quitter</a>' +
                                                            {% elseif memberconfirmed.confirmed == 2 %}
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" id="Regagner{{club.id}}">Regagner</a>' +
                                                            {% endif %}
                                                            {% endif %}
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" style="display: none" id="EnAtt{{club.id}}">En attente</a>' +
                                                            '<a class="btn btn-sm btn-round btn-gray btn-o" style="display: none" id="Regagner{{club.id}}">Regagner</a>' +
                                                            '<a class="loader" id="clubmap{{club.id}}" ><img src="{{asset('template/images/ajax-loader-comment.gif') }}"></a>' +
                                                            '<a href="{{ path('show_club',{'id':club.id} )}}" class="btn btn-sm btn-round btn-green viewInfo">Voir</a>' +
                                                            '</div>' +
                                                            '</div>';
                                                                   
                                                            google.maps.event.addListener(marker_{{ club.id}}, 'click', function() {
                                                            infobox.setContent(contenuInfoBulle_{{ club.id}});
                                                                    infobox.open(map, marker_{{ club.id}});
                                                            });
                                                            $(document).on('click', '.closeInfo', function() {
                                                    infobox.open(null, null);
                                                    });
                                                    
                                                    $(document).on('click', '#Rej{{club.id}}', function() {
                                                        $('#Rej{{club.id}}').hide();
                                                        $('#clubmap{{club.id}}').show();
                                                        $.ajax({
                                                        url: Routing.generate('request_club', {'id': {{club.id}} }),
                                                                success: function() {
                                                                   $('#clubmap{{club.id}}').hide();
                                                                   $('#EnAtt{{club.id}}').show();
                                                                }
                                                        });
                                                    });
                                                    $(document).on('click', '#Quitter{{club.id}}', function() {
                                                        $('#Quitter{{club.id}}').hide();
                                                        $('#clubmap{{club.id}}').show();
                                                        $.ajax({
                                                        url: Routing.generate('exit_club', {'id': {{club.id}} }),
                                                                success: function() {
                                                                   $('#clubmap{{club.id}}').hide();
                                                                   $('#Regagner{{club.id}}').show();
                                                                }
                                                        });
                                                    });
                                                    $(document).on('click', '#Regagner{{club.id}}', function() {
                                                        $('#Regagner{{club.id}}').hide();
                                                        $('#clubmap{{club.id}}').show();
                                                        $.ajax({
                                                        url: Routing.generate('activer_compte', {'id': {{club.id}} }),
                                                                success: function() {
                                                                   $('#clubmap{{club.id}}').hide();
                                                                   $('#EnAtt{{club.id}}').show();
                                                                }
                                                        });
                                                    });
                                                        
                                                       {% endfor %}
                                           
                                                       var input = (document.getElementById('pac-input2'));
                                                       map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);
                                                        var searchBox = new google.maps.places.SearchBox((input));
                                                        google.maps.event.addListener(searchBox, 'places_changed', function () {
                                                        var places = searchBox.getPlaces();
                                                                if (places.length == 0) {
                                                        return;
                                                        }

                                                        markers = [];
                                                                var bounds = new google.maps.LatLngBounds();
                                                                for (var i = 0, place; place = places[i]; i++) {
                                                        var image = {
                                                        url: place.icon,
                                                                size: new google.maps.Size(71, 71),
                                                                origin: new google.maps.Point(0, 0),
                                                                anchor: new google.maps.Point(17, 34),
                                                                scaledSize: new google.maps.Size(25, 25)
                                                        };
                                                                bounds.extend(place.geometry.location);
                                                        }

                                                        map.fitBounds(bounds);
                                                                map.setZoom(15);
                                                        });
                                                        google.maps.event.addListener(map, 'bounds_changed', function () {
                                                        var bounds = map.getBounds();
                                                                searchBox.setBounds(bounds);
                                                        });
                                                      }
                google.maps.event.addDomListener(window, 'load', initialize);
                                        </script>
                                        <script>
                                            {% for event in events %}
                            $("#btnmsg_{{event.id}}").on('click', function () {
                    $("#btnmsg_{{event.id}}").hide();
                            $('#btnlod_{{event.id}}').show();
                            var comment = $("#input_{{event.id}}").val();
                            $("#input_{{event.id}}").val("");
                            var photo ={% if app.user.path == null %}{% if app.user.sexe == 'H' %}
                            "{{ asset('men.png') }}"
                    {% else %}
                                "{{ asset('women.png') }}"
                        {% endif %}
                            {% else %}
                                        "{{ asset(app.user.WebPath)}}"
                                {% endif %}

                                            var oa = new Object();
                                            oa.comment = comment;
                                            if (comment){
                                    $.ajax({
                                    url:    Routing.generate('ajax_event_comment', { eventid: {{event.id}}}),
                                            type: 'POST',
                                            data: oa,
                                            contentType: "application/json; charset=ISO-8859-4",
                                            beforeSend: function () {
                                            console.log("envoi");
                                            },
                                            success: function () {
                                            $("#btnmsg_{{event.id}}").show();
                                                    $('#btnlod_{{event.id}}').hide();
                                                    $("#content_msg_{{event.id}}").prepend('<div class="comment">' +
                                                    '<div class="commentAvatar">' +
                                                    '<img class="avatar" src="' + photo + '" alt="avatar">' +
                                                    '<div class="commentArrow"><span class="fa fa-caret-left"></span></div>' +
                                                    '</div>' +
                                                    '<div class="commentContent">' +
                                                    '<div class="commentName">{{app.user.prenom}} {{app.user.nom}}</div>' +
                                                    '<div class="commentTime" style="margin-left: 10px;"><span class="icon-clock"></span> Maintenant </div>' +
                                                    '<br>' +
                                                    '<div class="commentBody">' + comment + '</div>' +
                                                    '</div>' +
                                                    '<div class="clearfix"></div>' +
                                                    '</div>');
                                                    $("#input_{{event.id}}").val("");
                                            },
                                            error: function () {
                                            }
                                    });
                                    } else{
                                    $("#btnmsg_{{event.id}}").show();
                                            $('#btnlod_{{event.id}}').hide();
                                    }
                                    });
                                            var load = false;
                                            var last_id_{{event.id}} = 5;
                                            $("#content_msg_{{event.id}}").scroll(function() {
                                    if ($("#content_msg_{{event.id}}").scrollTop() == $("#content2_msg_{{event.id}}").height() - $("#content_msg_{{event.id}}").height() && load == false && last_id_{{event.id}} <{{event.eventcomments|length}} ){

                                    load = true;
                                            $('#loader_{{event.id}}').show();
                                            $.ajax({
                                            url: Routing.generate('commentsEventPlus', { ide: {{event.id}} , last_id: last_id_{{event.id}} }),
                                                    type: 'GET',
                                                    beforeSend: function () {
                                                    },
                                                    success: function (data) {
                                                    last_id_{{event.id}} += 5;
                                                            for (var i in data) {
                                                    var comment = data[i];
                                                            var photo = "/web/upload/profil/" + comment.commenteur.id + "/" + comment.commenteur.path;
                                                            if (comment.commenteur.path == null){
                                                    if (comment.commenteur.sexe == "H"){
                                                    photo = "{{ asset('men.png') }}";
                                                    }
                                                    else
                                                    {
                                                    photo = "{{ asset('women.png') }}";
                                                    }
                                                    }
                                                    $("#content2_msg_{{event.id}}").append('<div class="comment">' +
                                                            '<div class="commentAvatar">' +
                                                            '<img class="avatar" src="' + photo + '" alt="avatar">' +
                                                            '<div class="commentArrow"><span class="fa fa-caret-left"></span></div>' +
                                                            '</div>' +
                                                            '<div class="commentContent">' +
                                                            '<div class="commentName">' + comment.commenteur.prenom + comment.commenteur.nom + '</div>' +
                                                            '<div class="commentTime" style="margin-left: 10px;"><span class="icon-clock"></span> ' + comment.createdat.date + '</div>' +
                                                            '<br>' +
                                                            '<div class="commentBody">' + comment.Commentaire + '</div>' +
                                                            '</div>' +
                                                            '<div class="clearfix"></div>' +
                                                            '</div>');
                                                            load = false;
                                                            $('#loader_{{event.id}}').hide();
                                                    }

                                                    },
                                                    error: function () {
                                                    $('#loader_{{event.id}}').hide();
                                                    }
                                            });
                                    }
                                    });{% endfor %}
                                    {%for event in events %}
                                                        $('#exit_event{{event.id}}').click(function() {
                                                        $("#exit_eventm{{event.id}}").empty();
                                                        $('#loaderPartm_{{event.id}}').show();
                                                        
                                                        $("#exit_event{{event.id}}").empty();
                                                        $('#loaderPart_{{event.id}}').show();
                                                        $.ajax({
                                                        url: Routing.generate('exit_event', {'id': {{event.id}}}),
                                                                success: function(data) {
                                                                
                                                                        $("#exit_event{{event.id}}").html(data.msg);
                                                                        $("#exit_eventm{{event.id}}").html(data.msgmap);
                                                                        var test = data.etat;
                                                                        if (test == 0){
                                                                $('#appendshare{{event.id}}').hide();
                                                                $('#loaderPart_{{event.id}}').hide();
                                                                
                                                                $('#loaderPartm_{{event.id}}').hide();
                                                                } else{
                                                                $('#appendshare{{event.id}}').show();
                                                                $('#loaderPart_{{event.id}}').hide();
                                                                
                                                                $('#loaderPartm_{{event.id}}').hide();
                                                                }


                                                                }
                                                        });
                                                });

                                            {%endfor%}
                                            </script>
                                        {% endblock %}
