{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   
        <div class="col-md-10">
            {{ form_widget(form.current_password, {'attr': {'class': 'search-optimus', 'placeholder': 'Mot de passe actuel','style':'margin-top: 0px'} }) }}
        </div>
   
  
      
        <div class="col-md-10" >
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'search-optimus', 'placeholder': 'Nouveau Mot de passe'} }) }}
        </div>
    
    
       
        <div class="col-md-10">
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'search-optimus', 'placeholder': 'Verification'} }) }}
        </div>
        {{ form_widget(form._token) }}
          <br>
    <div class="col-md-10" style="text-align: center; margin-top: 10px;" >
        <input class="btn btn-round btn-green" style="" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
