{% for resj in resjour %}
    <li id='notifParticipe{{resj.id}}' style="background: rgba(236, 18, 0, 0.55);">
        <a href="{{ path('show_event', { 'id' : resj.id }) }}">
            {% if resj.getWebPath %}
                <img class="avatar pull-left" src="{{ asset(resj.getWebPath)}}" alt="avatar">
            {% else %}
                <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
            {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">Lancement d'évènement {{ resj.titre }} <br/> Demain le {{ resj.dateDebut|date('Y/m/d à H:m') }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
{% endfor %}
{% for competition in resCompjour %}
    <li id='notifParticipe{{competition.id}}' style="background: rgba(236, 18, 0, 0.55);">
        <a href="{{ path('competition_show',{'id':competition.id} )}}">
            {% if competition.getWebPath %}
                <img class="avatar pull-left" src="{{ asset(competition.getWebPath)}}" alt="avatar">
            {% else %}
                <img class="avatar pull-left" src="{{ asset('logoCompetition.png')}}" alt="avatar">
            {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">Lancement de la compétition {{ competition.titre }} <br/> Demain le {{ competition.dateDebut|date('Y/m/d à H:m') }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
{% endfor %}
{% for program in resProgramJour %}
    <li id='notifParticipe{{program.id}}' style="background: rgba(236, 18, 0, 0.55);">
        <a href="{{ path('competition_show',{'id':program.id} )}}">
                <img class="avatar pull-left" src="{{ asset('logoclub.png')}}" alt="avatar">
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">Lancement du programme {{ program.nom }} <br/> Demain le {{ program.datedebut|date('Y/m/d à H:m') }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
{% endfor %}
{% for notif in datenotificationseen %}
    {% if notif.notifications.type == 'participation' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}
                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a participé dans l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'AnnulerParticip' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a annulé sa participation de l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'add' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a ajouté une évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'update' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a modifié l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'delete' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a supprimé l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'comment' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_accueil',{'id': notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a commenté l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'photo' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_event', { 'id' : notif.notifications.event.id }) }}">
                {% if notif.notifications.event.getWebPath %}
                    <img class="avatar pull-left" src="{{ asset(notif.notifications.event.getWebPath)}}" alt="avatar">
                {% else %}
                    <img class="avatar pull-left" src="{{ asset('event.png')}}" alt="avatar">
                {% endif %}    

                <div class="pulse border-grey"></div>
                <div class="notify pull-left">
                    <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a ajouté une photo dans l'évènement {{ notif.notifications.event.titre }}</div>
                    <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
                </div>
                <div class="clearfix"></div>
            </a>
        </li>
    {% elseif notif.notifications.type == 'entraineur' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.entraineur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} un nouveau entraineur inscrit</div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'vote' %}
        {% set vote = getVote(notif.notifications.idVote, notif.notifications.notificateur.id) %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="#">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a ajouté un vote de {{vote.value}} etoile sur vous</div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
{% elseif notif.notifications.type == 'accepte' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.notificateur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a accepté votre demande </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'refuse' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.notificateur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a refusé votre demande </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'rejClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.notificateur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} veut rejoindre votre club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'RefDemClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="#">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a refusé votre demande de rejoindre le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'addClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_club',{'id':notif.notifications.club.id} )}}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a ajouté un nouveau club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'quiteClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.notificateur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a quitté le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'AccDemClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.entraineur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a rejoindre club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'DeleteMemClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_profil', { 'id' : notif.notifications.entraineur.id }) }}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a exclué {{ notif.notifications.entraineur.prenom }} {{ notif.notifications.entraineur.nom }} de club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'modifClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_club',{'id':notif.notifications.club.id} )}}">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a modifié le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'suppClub' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="#">

                {% if notif.notifications.notificateur.path == null %}
                    {% if notif.notifications.notificateur.sexe == 'H' %}
                        <img class="avatar pull-left"  src="{{ asset('men.png') }}">
                    {% else %}
                        <img class="avatar pull-left"  src="{{ asset('women.png') }}">
                    {% endif %}
                {% else %}
                    <img class="avatar pull-left"  src="{{ asset(notif.notifications.notificateur.WebPath)}}" alt="avatar" ></a>
                {% endif %}
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a supprimé le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'addProgram' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_club',{'id':notif.notifications.club.id} )}}">

            <img class="avatar pull-left"  src="{{ asset('logoclub.png') }}">
                  
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a ajouté un programme dans le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'modifProgram' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_club',{'id':notif.notifications.club.id} )}}">

            <img class="avatar pull-left"  src="{{ asset('logoclub.png') }}">
                  
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a modifié un programme dans le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    {% elseif notif.notifications.type == 'suppProgram' %}
        <li id='notifParticipe{{notif.id}}' {% if notif.vu == 0 %}style="background: #EFEFEF;"{% endif %}>
            <a href="{{ path('show_club',{'id':notif.notifications.club.id} )}}">

            <img class="avatar pull-left"  src="{{ asset('logoclub.png') }}">
                  
            <div class="pulse border-grey"></div>
            <div class="notify pull-left">
                <div class="notifyName">{{ notif.notifications.notificateur.prenom }} {{ notif.notifications.notificateur.nom }} a supprimé un programme dans le club {{ notif.notifications.club.nom }} </div>
                <div class="notifyTime">{{ notif.notifications.getDuréeNotification() }}</div>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
{% endif %}

{% endfor %}*{{count|length + resCompjour|length + resjour|length + resProgramJour|length}}*<script>{% set notifications = getNotifications(app.user) %}
    {% for notification in notifications  %}
        $('body').on('click', '#notifParticipe{{notification.id}}', function ()
        {
            $.ajax({
                type: "POST",
                url: '{{ path('notifParticipe_seen') }}',
                data: 'id=' + {{notification.id}},
                success: function () {
                    var nb = parseInt($('#countNotif').text());
                    var nouveauNb = nb - 1;
                    if (nouveauNb > 0)
                    {
                        $('#countNotif').replaceWith(nouveauNb);
                    }
                    else
                    {
                        $('#nombre_notif').hide();
                    }
                }

            });
        });
    {% endfor %}
    {% for resultat in res  %}
        {% if resultat.type == "participation" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}"> a participé dans l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "AnnulerParticip" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}">a annulé sa participation de l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "add" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}">a ajouté une évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "update" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}">a modifié l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "delete" %}
            toastr8.googlePlus({
                message: '<a href="#">a supprimer l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "comment" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_accueil',{'id': resultat.event.id }) }}">a commenté l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "photo" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_event', { 'id' : resultat.event.id }) }}">a ajouté une photo dans l\'évènement {{ resultat.event.titre }} </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "entraineur" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_profil', { 'id' : resultat.entraineur.id }) }}">un nouveau entraineur inscrit </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "vote" %}
            toastr8.googlePlus({
                message: '<a href="#">a ajouté un vote sur vous </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "accepte" %}
            toastr8.googlePlus({
                message: '<a href="#">a accepté votre demande</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "refuse" %}
            toastr8.googlePlus({
                message: '<a href="#">a refusé votre demande</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "rejClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_profil', { 'id' : resultat.notificateur.id }) }}">veut rejoindre votre club </a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "RefDemClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_profil', { 'id' : resultat.notificateur.id }) }}">refuse votre demande de rejoindre le club</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/event.png']
            });
        {% elseif resultat.type == "addClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_club',{'id':resultat.club.id} )}}">a ajouté un nouveau club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
        {% elseif resultat.type == "quiteClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_club',{'id':resultat.club.id} )}}">a quitté le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
               {% elseif resultat.type == "AccDemClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_profil', { 'id' : resultat.notificateur.id }) }}">a rejoindre le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
               {% elseif resultat.type == "DeleteMemClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_club',{'id':resultat.club.id} )}}">a exclué {{ resultat.entraineur.nom }} du club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
               {% elseif resultat.type == "modifClub" %}
            toastr8.googlePlus({
                message: '<a href="{{ path('show_club',{'id':resultat.club.id} )}}">a modifié le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
               {% elseif resultat.type == "suppClub" %}
            toastr8.googlePlus({
                message: '<a href="#">a supprimé le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
            {% elseif resultat.type == "addProgram" %}
            toastr8.googlePlus({
                message: '<a href="#">a ajouté un programme dans le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
            {% elseif resultat.type == "modifProgram" %}
            toastr8.googlePlus({
                message: '<a href="#">a modifié un programme dans le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
            {% elseif resultat.type == "suppProgram" %}
            toastr8.googlePlus({
                message: '<a href="#">a supprimé un programme dans le club {{ resultat.club.nom }}</a>',
                title: '{{ resultat.notificateur.prenom }} {{ resultat.notificateur.nom }}',
                imgURI: ['http://www.optimus-beta.com/logoclub.png']
            });
        {% endif %}
    {% endfor %}
</script>
