<table cellspacing="0" cellpadding="0" width="100%;" border="0" style="border-collapse:collapse">
<tbody>
<tr>
<td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
<tbody>
<tr>

</tr>
<tr>
<td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
<td>
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
<tbody>
<tr>
<td height="1" style="line-height:1px">&nbsp;</td>
</tr>
</tbody>
</table>

</td>
<td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
<td>
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
<tbody>
<tr>
<td>
<span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
<a href="http://www.optimus-beta.com/{{club.createur.id}}/profil" style="color:#3b5998;text-decoration:none" target="_blank">{{club.createur}}</a> 
vous invite à Son Club</span>
</td>
</tr>
<tr>
<td>

</td>
</tr>
<tr>
<td height="14" style="line-height:14px">&nbsp;</td>
</tr>
<tr>
<td>
<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;max-width:624px;border:solid 1px #e5e5e5">
<tbody>
<tr>
<td style="text-align: center;">
{% if club.path == null %}
<img width="50%" src="http://www.optimus-beta.com/logoclub.png" style="border:0" class="CToWUd a6T" tabindex="0">
{% else %}
<img width="100%" src="http://www.optimus-beta.com/upload/club/{{club.id}}/{{club.path}}" style="border:0" class="CToWUd a6T" tabindex="0">
{% endif %}
<div class="a6S" dir="ltr" style="opacity: 0.01; left: 590px; top: 251px;">
<div id=":22b" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V" data-tooltip="Télécharger">
<div class="aSK J-J5-Ji aYr"></div>
</div>
</div>
</td>
</tr>
<tr>
<td style="font-weight:bold;font-size:18px;padding:10px 10px 0 10px"><span style="color:#333333;font-weight:bold">
<a href="http://www.optimus-beta.com/club={{club.id}}" style="color:#c02100;text-decoration:none" target="_blank">{{club.nom}}</a></span></td></tr><tr><td style="padding:8px 10px 0 10px"><table cellspacing="0" cellpadding="0" width="100%" align="left" style="border-collapse:collapse;min-width:0px"><tbody><tr><td valign="top" style="padding-right:10px;font-size:0px">
<img src="https://ci6.googleusercontent.com/proxy/rMoX5rPLMzoMaH5PmEzF89eXiRMWZ_o4PDibU02xCgRFb1Pd0zqNwYcDCllHTHUv0okaW1-mUGmw5RIj6hsCl3IYuRmMEPRietbtAc69HeDbnF9OzIY=s0-d-e1-ft#https://fbstatic-a.akamaihd.net/rsrc.php/v2/yl/r/vTSJ6sPguSU.png" style="border:0" class="CToWUd">
</td>
<td width="100%" valign="top" style="padding-right:10px"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">Créer le {{club.discpline}}</span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding:4px 10px 0 10px"><table cellspacing="0" cellpadding="0" width="100%" align="left" style="border-collapse:collapse;min-width:0px">
<tbody>
<tr>
<td valign="top" style="padding-right:10px;font-size:0px">
<img src="https://ci3.googleusercontent.com/proxy/ChlWKdjfBiNnacDke-5xFMa15FGVcNRN60-tNLdAE9uZmJ71B9l3JxXksVR-g_shlri9lQ0Kb4rrR2FNUoGssN-LGUqgFyCBGQ40-rE-F62ZCP8KSec=s0-d-e1-ft#https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/JcidzHQwWUG.png" style="border:0" class="CToWUd">
</td>
<td width="100%" valign="top" style="padding-right:10px">
<span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
<a href="http://www.optimus-beta.com/club={{club.id}}" style="color:#3b5998;text-decoration:none" target="_blank">{{club.adresse}}</a>
</span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding:10px 10px 0 10px"><table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse"><tbody><tr><td height="2" style="line-height:2px" colspan="3">&nbsp;</td>
</tr>
<tr>
<td>
<a href="http://www.optimus-beta.com/club={{club.id}}" style="color:#c02100;text-decoration:none" target="_blank">
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
<tbody>
<tr>
<td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #c02100;background:#c02100;padding:7px 16px 11px 16px"><a href="http://www.optimus-beta.com/club={{club.id}}" style="color:#3b5998;text-decoration:none;display:block" target="_blank">
<center>
<font size="3">
<span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;font-size:14px;line-height:14px">Rejoindre</span></font>
</center>
</a>
</td>
</tr>
</tbody>
</table>
</a>
</td>
<td width="10" style="display:block;width:10px">&nbsp;&nbsp;&nbsp;</td>
<td>

</td>
<td width="10" style="display:block;width:10px">&nbsp;&nbsp;&nbsp;</td>
<td>

</td>
<td width="100%"></td>
</tr>
<tr>
    <td height="10" style="line-height:10px" colspan="3">&nbsp;</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
<td height="10" style="line-height:10px">&nbsp;</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
<td>

</td>
</tr>
<tr>
<td height="14" style="line-height:14px">&nbsp;</td>
</tr>

<tr>
<td>

</td>
</tr>
<tr>
<td height="14" style="line-height:14px">&nbsp;</td>
</tr>
</tbody>
</table>

</td>
<td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
</tr>

<tr>
<td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
</tr>
</tbody>
</table>
<span>
<img src="https://ci5.googleusercontent.com/proxy/1lSO6LfIh6AD0WCWFFp8Ax5QcP4YHhWbXLu_Kq2X3GodzNaurWvc5fCxkYh_of5SQuBF2Si9JtTjeN0v6uJrS2or_RdFIb32DYnqSBkB2TXByDzzoUn99c9VRu7KlJAZLKweMnjNx5hNURQ3vzQ1n5_3gRg=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=ba203cfG5af465887229G514562330d892G6bG547b" style="border:0;width:1px;min-height:1px" class="CToWUd"></span>
</td>
</tr>
</tbody>
</table>