{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class=""><a href="{{ path('show_club',{'id' : club.id})}}" role="tab" ><span class="icon-trophy"></span> Programme</a></li>
                    <li class=""><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" ><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="{{ path('albums_club', {'id' : club.id}) }}" role="tab" ><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab" data-toggle="tab"><span class="icon-film"></span> Vidéos</a></li>
                    <li class="active"><a href="{{ path('members_club',{'id':club.id})}}" role="tab" ><span class="icon-user-unfollow"></span> Adhérents</a></li>
                    {% if app.user == club.createur %}<li class=""><a href="{{ path('members_request',{'id':club.id})}}" role="tab" ><span class="icon-user-following"></span>Demandes</a></li> {% endif %}
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in  scrollbar" id="liste" >
                        <div class="row pb40">
                            {% for member in membresclub %}
                               
                                    <div class="col-sm-4" id="{{member.id}}">
                                        <div class="tooltipsContainer agent notifyList">
                                            <a href="profil.html" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="Essid Essid">
                                                <img src="{{ asset(member.member.WebPath)}}" alt="">
                                                <div class="pulse border-green pulseoptimus"></div>
                                            </a>
                                            <div class="info">
                                                <a href="#"> <div class="name clubumus"><strong>{{member.member.prenom}} {{member.member.nom}}</strong></div></a>
                                                <div class="title">{{member.member.profil}}</div>
                                            </div><br>
                                            <div align="center">
                                                <a href="#retirer{{member.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
                                                <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
                                            </div><br>
                                        </div>
                                    </div>
                               
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% for member in membresclub %}
        <!------------------- modal supprission------------------->
        <div class="modal" id="retirer{{member.id}}"   >
            <div class="modal-dialog">
                <div class="modal-content bordusbottomus">
                    <div class="modal-header bordustopus">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="contactLabel">Suppression </h4>
                    </div>
                    <div class="modal-body">
                        <p>Souhaitez vous vraiment cet Adhérent ?</p>
                    </div>
                    <div class="modal-footer supp-album">
                        <button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
                        <a id="supprimerAdherant{{member.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascriptfils %}
    <script>
        {% for member in membresclub %}
    $('#supprimerAdherant{{member.id}}').click(function() {
        $.ajax({
            url: Routing.generate('delete_member', {'id': {{member.id}}}),
            success: function(data) {
                $('#' + data).hide();
                $("#retirer{{member.id}}").toggle();
                $('.modal-backdrop').hide();
            }
        });
    });
        {% endfor %}
    </script>
{% endblock %}