 <div class="row">
                    <div id="notdate" style="display: none;" class="alert alert-danger">
                        {#<a class="close" data-dismiss="alert">×</a>#}
                        date fin ne doit pas inferieur au date debut
                    </div>
<form action="{{ path('program_create',{ 'id' : entity.id }) }}" {{ form_enctype(form) }} method="post" class="form-horizontal0 form-groups-bordered">
    {{ form_errors(form) }}
    <div class="modal-content bordusbottomus">
        <div class="modal-header bordustopus">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="contactLabel">Nouveau Programme</h4>
        </div>
        <div class="modal-body">
            <div class="contactForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                        {{ form_widget(form.nom) }}
                    </div>
                   {#<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                        {{ form_widget(form.description) }}
                    </div>#}

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cfItem">
                        {{ form_widget(form.datedebut, { 'id': 'some_class_1' }) }}

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cfItem">
                        {{ form_widget(form.datefin, { 'id': 'some_class_2' }) }}
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Annuler</a>
                    <button type="submit" class="btn btn-round btn-green">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form._token) }}
</form>

</div>