{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class=""><a href="{{ path('show_club',{'id' : club.id})}}" role="tab" ><span class="icon-trophy"></span> Programme</a></li>
                    <li class="active"><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" data-toggle="tab"><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="{{ path('albums_club', {'id' : club.id}) }}" role="tab" ><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab"><span class="icon-film"></span> Vidéos</a></li>
                     <li class=""><a href="{{ path('members_club',{'id':club.id})}}" role="tab" ><span class="icon-user-unfollow"></span> Adhérents</a></li>
                    {% if app.user == club.createur %}<li class=""><a href="{{ path('members_request',{'id':club.id})}}" role="tab" ><span class="icon-user-following"></span>Demandes</a></li> {% endif %}
                   
                </ul>
                <div class="tab-content">
                    <ul class="tab-pane fade active in scrollbar" id="palmares" >
                        {% if app.user== club.createur %}
                         <div class="buttonsWrapper col-md-12">
                            <a class="btn btn-round btn-default btn-sm rightus" href="#uploadpalmares" data-toggle="modal">
                                <span class="fa icon-plus state"></span>
                                <span class="state">Ajouter </span></a>
                             <br>
                            <br>
                        </div>
                        {% endif %}
                        <div class="row">
                            <br>
                            {% for reward in rewards %}
                            <div class="col-md-12" id="block{{ reward.id }}">
                                    <div data-linkto="" class="card albumus tooltipsContainer" >
                                        <br>
                                        <div class="profile-card">
                                            <div class="col-md-4">
                                            <div class="pc-avatar">
                                                <a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" title="Titre" data-toggle="tooltip" data-tooltip-class="red" data-placement="top" >
                                                    <span class="fa fa-child palmarus"></span></a>
                                            </div>
                                            <div class="pc-name">{{ reward.titre }}</div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="pc-avatar">
                                                <a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" title="Classement" data-toggle="tooltip" data-tooltip-class="red" data-placement="top">
                                                    <span class="fa fa-star palmarus"></span></a>
                                            </div>
                                            <div class="pc-name">{{ reward.classment }}</div>
                                        </div>
                                        <div class="col-md-4">
                                           
                                        <div class="profile-card">
                                            <div class="pc-avatar">
                                                <a href="#" class="btn btn-icon btn-round btn-o btn-pinterest palmaruss" title="Date" data-toggle="tooltip" data-tooltip-class="red" data-placement="top">
                                                    <span class="fa fa-calendar palmarus"></span></a>
                                            </div>
                                            <div class="pc-name">{{ reward.date |date('Y-m-d')}}</div>
                                        </div>
                                        {% if app.user== club.createur %}
                                        <div align="right">
                                            <a href="#modifierpalmares_{{reward.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="modifier" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-settings"></span></a>
                                            <a href="#supprimerpalmares_{{reward.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-trash"></span></a>
                                        </div>
                                        {% endif %}
                                        <br>

                                        <div class="clearfix"></div>
                                    
                                        </div>
                                        </div>
                                        
                                        <br>

                                        <div class="clearfix"></div>
                                    </div>
                                    
                                        
                                </div>
                                        
                               <!--------------- modifier palmares ------------------>

                            <div class="modal fade" id="modifierpalmares_{{reward.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    {{ render (controller('FrontOfficeOptimusBundle:Reward:update',  { 'id': reward.id })) }}
                                </div>
                            </div>
                            <!--------------- fin modifier  ------------------>

                            <!--------------- supprimer palmares ------------------>
                            <div class="modal" id="supprimerpalmares_{{reward.id}}"   >
                                <div class="modal-dialog">
                                    <div class="modal-content bordusbottomus">
                                        <div class="modal-header bordustopus">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="contactLabel">Suppression </h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Souhaitez vous vraiment supprimer l'album ?</p>
                                        </div>
                                        <div class="modal-footer supp-album">
                                            <button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
                                            <a id="supprimerPalmares{{reward.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--------------- fin supprimer ------------------>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
       </div>
    </div>
 <!--------------- upload palmares ------------------>
    <div class="modal fade" id="uploadpalmares" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
             {{ render (controller('FrontOfficeOptimusBundle:Reward:addRewardClub',  { 'id': club.id })) }}
        </div>
    </div>


    <!--------------- fin upload  ------------------>
{% endblock %}
{% block javascriptfils %}
    <script>

        {% for reward in rewards %}
            $('#supprimerPalmares{{reward.id}}').click(function() {

                $.ajax({
                    url: Routing.generate('delete_reward_club', {'id': {{reward.id}}}),
                    success: function(data) {
                        $('#block'+data).hide();
                        $("#supprimerpalmares_{{reward.id}}").toggle();
                        $('.modal-backdrop').hide();
                    }
                });


            });
        {% endfor %}

    </script>
{% endblock %}
