{% extends "FrontOfficeOptimusBundle::layoutClub.html.twig" %}
{% block content %}
    <div class="col-lg-12"><div class="row mb20">
        </div>
        <div class="col-lg-12">
            <div class="tabsContainer">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="{{ path('show_club',{'id' : club.id})}}" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Programme</a></li>
                    <li class=""><a href="{{ path('palmares_club',{'id' : club.id}) }}" role="tab" ><span class="icon-badge"></span> Palmares</a></li>
                    <li class=""><a href="{{ path('albums_club', {'id' : club.id}) }}" role="tab" ><span class="icon-doc"></span> Albums</a></li>
                    <li class=""><a href="#videos" role="tab"><span class="icon-film"></span> Vidéos</a></li>
                    <li class=""><a href="{{ path('members_club',{'id':club.id})}}" role="tab" ><span class="icon-user-unfollow"></span> Adhérents</a></li>
                    {% if app.user == club.createur %}<li class=""><a href="{{ path('members_request',{'id':club.id})}}" role="tab" ><span class="icon-user-following"></span>Demandes</a></li> {% endif %}
                </ul>
                <div class="tab-content">
                    <br>
                    {% if app.user == club.createur %}
                        <div class="buttonsWrapper col-md-12">

                            <a href="#programme" data-toggle="modal" class="btn btn-round btn-default btn-sm rightus"><span class="fa icon-plus state"></span> Ajouter</a>
                            <br>
                        </div>	
                    {% endif %}
                    <br>
                    {% if programmes is empty %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <div align="center">    <strong >Notification Optimus</strong> </div>
                        </div> <div class="row">
                            <img  style="margin-top: -30px;width: 90%;height: 350px;"src="{{ asset('template/images/bienvenue.png') }}"/>
                            <div class="address" align="center" style="margin: 0 20px;">
                                <h4><span   >Nous ne trouvons aucun élément à afficher
                                        pour le moment.
                                        Si vous êtes un nouveau membre d'Optimus ou
                                        si vous n'avez pas encore eu d'activités, alors
                                        il est temps de commencer l'aventure!</span></h4>

                            </div>
                        </div>
                    {% endif %}
                    <ul class="tab-pane fade  active in scrollbar" id="Programme" >

                        {% for programme in programmes %}
                            <div class="userWidget-2 tooltipsContainer col-xs-12" id="{{programme.id}}">

                                <div class="col-md-4">
                                    <div class="info col-md-12">
                                        <div class="name" >Nom du programme :</div>
                                        <a href="{{ path('program_show',{'id_club':club.id,'id' :programme.id} ) }}"> <div class="title">{{ programme.nom }} </div></a>

                                    </div></div>
                                <div class="col-md-4">
                                    <div class="info col-md-12">

                                        <div class="name">Description: <span class="address">{{ programme.description }}</span></div>

                                    </div></div>
                                <div class="col-md-4">
                                    <div class="info col-md-12">

                                        <div class="name">Date début: <span class="address">{{ programme.datedebut|date('Y-m-d H:i:s') }}</span></div>
                                        <div class="name">Date fin: <span class="address">{{ programme.datefin|date('Y-m-d H:i:s') }}</span></div>

                                    </div></div>
                                    {% if app.user == club.createur %}
                                    <div align="right">
                                        <a href="#modifierprogram{{programme.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>

                                        <a href="#supprimuss{{programme.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
                                    </div>
                                {% endif %}
                                <div class="clearfix"></div>
                            </div>
                                 <!--------------- update programme ------------------>
                            <div class="modal fade" id="modifierprogram{{programme.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    {{ render (controller('FrontOfficeOptimusBundle:Program:editProgramClub',  { 'id_club': club.id, 'id' : programme.id })) }}
                                </div>
                            </div>
                                 <!--------------- supprission programme ------------------>
                            <div class="modal" id="supprimuss{{programme.id}}"   >
                                <div class="modal-dialog">
                                    <div class="modal-content bordusbottomus">
                                        <div class="modal-header bordustopus">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="contactLabel">Suppression </h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Souhaitez vous vraiment supprimer l'album ?</p>


                                        </div>
                                        <div class="modal-footer supp-album">
                                            <button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
                                            <a id="supprimerProgram{{programme.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--------------- upload programme ------------------>

    <div class="modal fade" id="programme" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            {{ render (controller('FrontOfficeOptimusBundle:Program:create',  { 'id': club.id })) }}
        </div>
    </div>
    
{% endblock %}
{% block javascriptfils %}
    <script>

        {% for programme in programmes %}
            $('#supprimerProgram{{programme.id}}').click(function() {
            
                $.ajax({
                    url: Routing.generate('program_delete', {'id': {{programme.id}}}),
                    success: function(data) {
                        $('#' + data).hide();
                        $("#supprimuss{{programme.id}}").toggle();
                        $('.modal-backdrop').hide();
                    }
                });


            });
        {% endfor %}

    </script>
{% endblock %}