{% extends "FrontOfficeOptimusBundle::layout.html.twig" %}
{% block body %}
<div id="wrapper">
<div id="content" class="mob-max" >

<div class="col-lg-12"><div class="row mb20">
</div>
{% for flashMessage in app.session.flashbag.get('AjouterPalmarésClub') %}
<br/>
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}

  {% for flashMessage in app.session.flashbag.get('SupprissionCompetition') %}
<br/>
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('ActivationClub') %}
<br/>
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('AjouterAlbumClub') %}
<br/>
<div class="alert alert-success">
<a class="close" data-dismiss="alert">×</a>
{{ flashMessage }}
</div>
{% endfor %}
<div class="col-lg-12">
<div id="invitation-envoyées" style="display: none;" class="alert alert-success">
<a class="close" id="closemessag">×</a>
les invitations ont été envoyées 
</div>
<div class="tooltipsContainer panel panel-default dd">
<a href="#ddPanel" class="btn btn-default btn-lg btn-block" data-toggle="collapse"style="background-color:#c02100;color:#fff;border-color:#c02100;" data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="" data-original-title="Cliquez ici pour voir profil club"><span class="navIcon fa fa-users"></span> Profil Club<span class="icon-equalizer pull-right"></span></a>
<div id="ddPanel" class="panel-collapse collapse" style="margin-top:-6px;">
<div class="panel-body" style="padding:0px;">
<div class="userWidget-1 manamus" style="margin-bottom:0px;" >
<div class="avatar" id="main">
<div class="col-md-4">

<div class="propWidget-1 logotus tooltipsContainer ">
<div class="fig salamus">
{% if club.path == null %}
<a href="{{ asset('logoclub.png')}}" data-lightbox-title="photo Club" data-lightbox-gallery="">
<img src="{{ asset('logoclub.png') }}" class="inline-block imaguss">
</a>
{% else %}
<a href="{{ asset(club.WebPath) }}" data-lightbox-title="photo Club" data-lightbox-gallery="">
<img src="{{ asset(club.WebPath) }}" class="inline-block imaguss">
</a>
{% endif %}
{% if club.createur == app.user %}
<div class="priceCap paddus">
<button href="#modifierphotoClub" data-toggle="modal" data-placement="top" class="btn btn-icon btn-round btn-green btn-md optimus-logus" title="" data-original-title="modifier la photo">
<span class="notifyIcon fa fa-camera-retro"></span>
</button>
</div>
{% endif %}
</div>
</div>
</div>
{% if club.createur == app.user %}
<div class="ops">
{% if club.isPayant != 0 %}
<a class="btn btn-round btn-default btn-sm" href="#inviteramiclub" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Inviter</span></a>
{% endif %}
<a class="btn btn-round btn-default btn-sm" href="{{ path('club_update',{'id' : club.id}) }}" ><span class="fa icon-settings state"></span> <span class="state">Gérer</span></a>
<a class="btn btn-round btn-default btn-sm" href="#supprimerClub" data-toggle="modal"><span class="fa icon-trash state"></span> <span class="state">Supprimer</span></a> 
</div>
{% endif %}
<div class="name osLight profilus namusclubus"><strong>{{club.nom}}</strong></div>
</div>
<div class=" address profilus" style="font-size:18px;"> 
<div class="row">
{% if club.isPayant == 1 %}
{% set memberconfirmed = getMembreConfirmed(app.user,club) %}

<div class="cardRating col-md-5" style="color:#eab134;margin-left: -40px;">
{%if memberconfirmed == null %}
<div>{% include 'FrontOfficeRatingBundle:Rating:rating.html.twig' with { 'id' : 'C'~club.id } %}</div>
{% else %}
<div>{% include 'FrontOfficeRatingBundle:Rating:control.html.twig' with { 'id' : 'C'~club.id } %}</div>
{% endif %}
</div>
<div class="cardRating col-md-6" style="margin-left: 57px;">
<div class="label labelus label-yellow " >
Nombre des members : <span  id="nbparticip">{{ club.adherents | length}}</span>
</div>
</div>
{% endif %}
<br><br>
<div class="title profilus"></div>
<div class="buttonsWrapper"> 
<div class="row">
<div class="col-md-5 pb20">
<div class="pc-about osLight" style="margin-left: -37%;">
<div class="title eventus">Propriétaire :<a  href="{{path('show_profil',{'id' : club.createur.id}) }}"><span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #c02100 !important;">{{club.createur}}</span></a></div>
<div class="title eventus">Date Creation :<span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{club.dateCreation|date("d/m/Y ")}}</span></div>
<div class="title eventus">Adresse :<span class="address detaillus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{club.adresse}}</span></div><br>
</div>
</div>
<div class="col-md-5" style=" margin-left: -20px;">
<div class="pc-title osLight">
<div class="title eventus">Displine : <span class="address leftus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{club.discpline}}</span></div>
<div class="title eventus">Frais participation : <span class="address leftus" style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;">{{club.fraisAdhesion}} &euro; </span></div>
</div>
</div></div></div>
{% if club.description %}
<div class="row descriptus">
<div class="col-md-12 pb20">
<div class="pc-about osLight">
<div class="title">Description : <span class="address detaillus"style="font-size: 13px !important;font-weight: bold !important; color: #000 !important;"> Pour lire la description  <a href="#clikus" data-toggle="modal" style="color:#C02100"><strong><u> clic ici...  </u> </strong></a></span>
</div>
</div>
</div>
</div>
{% endif %}
{% if club.isPayant == 1%}
<div class="row tooltipsContainer" style="margin-left:-140px;  margin-right: -28%;">
<div class="col-md-4 pb20">
<div class="pc-about osLight" id="appendclubutton">
{% if club.createur != app.user %}

{% if memberconfirmed is empty %}
    {% if app.user.profil == 'Sportif' %}
<a class="btn btn-green btn-round " href="#"  id="request_club">
<span class="fa fa-plus-circle" data-toggle="tooltip" data-tooltip-class="green" data-placement="top" title="participaer dans cet club" data-original-title="Participer"></span>
<span  class="requestClub" id="{{club.id}}">Rejoindre</span>                                          
</a>
{% endif %}
{% elseif memberconfirmed.confirmed == 0 %}

    <a class="btn btn-green btn-round "  href="#"  id="AttentrejoindreClub">

        <span >En attente</span>
    </a>
{% elseif memberconfirmed.confirmed == 1 %}
    <a class="btn btn-green btn-round " href="#" id="exit_club" >
        <span class="fa icon-action-redo "></span> <span  class="exitClub" id="{{club.id}}" >Quitter</span>
    </a>

{% elseif memberconfirmed.confirmed == 2 %}
    <a class="btn btn-green btn-round " href="#" id="activer_member_club" >
        <span class="fa icon-action-redo "></span> <span  class="activerclub" id="{{club.id}}" >Regagner</span>
    </a>
{% endif %}

        {% endif %}
<a style="display: none"  class="btn btn-green btn-round "  href="#"  id="AttentrejoindreClub">
<span >En attente</span>                                          
</a>
<a style="display: none" class="btn btn-green btn-round " href="#" id="activer_member_club" >
<span class="fa icon-action-redo "></span> <span  class="activerclub" id="{{club.id}}" >Regagner</span>
</a>
             <a class="loader" id="loaderRejoindreClub" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
             </a>
</div>
</div>
<div class="col-md-4">
<div class="pc-title osLight" id="append2">
<div class="buttonsWrapper pb20 ">
{{ socialButtons( {'pinterest' : false,'linkedin': false}) }}
</div>
</div>
</div>
<div class="col-md-4">
<div class="pc-title osLight">
<a href="#" class="btn btn-round btn-o btn-yellow pull-right-md" data-toggle="tooltip" data-tooltip-class="yellow" data-placement="top" title=" ont lu cet club" data-original-title="Nombre de vue"><span class="fa fa-eye"></span> <strong>{{ club.nbrvu }}</strong></a>
<a href="#" style="color:#c02100"></a>
<a href="#" style="color:#c02100"></a>

</div>

</div>
</div>
{% endif %}
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
<!--********************************************************-->
<div class="tabsContainer">


<ul class="nav nav-tabs nav-justified" role="tablist">
<li class="active"><a href="#programmes" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Programmes</a></li>
<li class=""><a href="#members" role="tab" data-toggle="tab"><span class="icon-users"></span> Member</a></li>

{% if app.user == club.createur %}<li class=""><a href="#demande" role="tab" data-toggle="tab"><span class="icon-user"></span> Demande</a></li>{% endif %}
<li class=""><a href="#compétitions" role="tab" data-toggle="tab"><span class="icon-trophy"></span> Compétitions</a></li>
<li class=""><a href="#palmares" role="tab" data-toggle="tab"><span class="icon-badge"></span> Palmares</a></li>

</ul>
<div class="tab-content">
{% if club.isPayant == 1%}
<!------------------------------Programmes Club------------------------------------------->
<ul class="tab-pane fade  active in scrollbar" id="programmes" >
<div id="supprimer-pr-c" style="display: none;" class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
Programme Supprimer
</div>
{% if club.programs|length == 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Rien à afficher dans la catégorie programmes!</strong> Créer un pour commencer.
</div>
{% endif %}
{% if app.user == club.createur %}
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#ajouterProgrammes" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
<br>
</div>
{% endif %}


<div class="row">
<br>
{% for programme in programmes %}
<div class="tooltipsContainer row  {{programme.id}}" {% if date(programme.datefin)<= date()  %} data-toggle="tooltip" data-tooltip-class="red" title="Programme dépasser"{% endif %}>
<br>
<div  class="col-md-12" id="">
<div  {% if date(programme.datefin)<= date()  %}style="background-color: #ddd" {% endif %} data-linkto="" class="card albumus tooltipsContainer" >
<br>
<div class="profile-card">
<div class="col-md-3">

<div  class="pc-name"><a style="color:#c02100" href="{{ path('program_show',{'id_club':club.id,'id' :programme.id} ) }}">{{programme.nom}}</a></div>
</div>
<div class="col-md-7">
<div class="col-md-5">
<div class="pc-name">Du:{{programme.datedebut|date('d/m/Y H:i:s' ) }}</div>
</div>
<div class="col-md-5">
<div class="pc-name">À:{{programme.datefin|date('d/m/Y H:i:s')}}</div>
</div>
</div>
<div class="col-md-2">
<div align="right">

<a href="{{ path('program_show',{'id_club':club.id,'id' :programme.id} ) }}" class="btn btn-icon btn-round btn-green btn-xs" title="info" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-info"></span></a>

{% if app.user == club.createur and programme.datefin >=date() %}
<a href="#modifierProgrammes_club_{{programme.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="modifier" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-settings"></span></a>
<a href="#supprimerprogramme_club_{{programme.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-trash"></span></a>
{% endif %}
</div>
<br>
<div class="clearfix"></div>
</div>
</div>
<br>
<div class="clearfix"></div>
</div>
</div>
</div>
{% endfor %}
</div>

</ul>
<!------------------------------Fin Programmes Club------------------------------------------->
<ul class="tab-pane fade  scrollbar" id="members" >
{% if club.adherents|length == 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Liste vide!</strong> Inviter.
</div>

{% endif %}
{% if app.user == club.createur %}
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#inviteramiclub" data-toggle="modal" ><span class="fa icon-plus state"></span> <span class="state">Inviter Amis </span></a><br><br>
</div>
{% endif %}
{% set members = adherents(club.id) %}
<div class="row pb40" id="appendMember">
{% for member in members %}
<div class="col-sm-4" id="{{member.id}}">
<div class="tooltipsContainer agent notifyList">
    <a href="{{ path('show_profil',{'id' :member.member.id}) }}" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{member.member.username}}">
     {% if member.member.WebPath == null %}
       {% if member.member.sexe == 'H' %}
           <img src="{{ asset('men.png') }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
           {% else %}
               <img src="{{ asset('women.png') }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
               {% endif %}

               {% else%}
    <img src="{{ asset(member.member.WebPath) }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
    {% endif %}

    </a>
    <div class="info">
        <a href="#"> <div class="name clubumus"><strong>{{member.member.prenom}} {{member.member.nom}}</strong></div></a>

        <div class="title">{{member.member.profil}}</div>
    </div><br>
    <div align="center">
        {% if app.user == club.createur and member.member.id != app.user.id %}
        <a href="#retirer{{member.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="retirer"><span class="fa fa-close"></span></a>
        <a href="#" class="btn btn-icon btn-round btn-green btn-xs" title="signaler"><span class="fa fa-legal"></span></a>
    {% endif %}
        </div><br>
</div>
</div>
{% endfor %}
</div>

</ul>
<!--------------------palmaes club ------------------------->
<ul class="tab-pane fade  scrollbar" id="palmares" >
<div id="supprimer-p-c" style="display: none;" class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
Palmarés Supprimer
</div>
{% if club.reward|length == 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Liste vide!</strong>  Créer un pour commencer.
</div>
{% endif %}
{% if app.user == club.createur %}
<div class="buttonsWrapper col-xs-12">
<a class="btn btn-round btn-default btn-sm rightus" href="#ajouterpalmares" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
<br>
</div>
{% endif %}
<div class="row">
<br>
{% for palmares in club.reward %}
<div class="row {{palmares.id}}">

<div class="col-md-12" id="block{{ palmares.id }}">
<div style="background-color: {{palmares.couler}}" data-linkto="" class="card albumus tooltipsContainer" >
<br>
<div class="profile-card" style="margin-right: 1%;">
<div class="">

{% if app.user == club.createur %}
<div align="right">
<a href="#modifierpalmares_club_{{palmares.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="modifier" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-settings"></span></a>
<a href="#supprimerpalmares_club_{{palmares.id}}" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer" data-toggle="modal" data-tooltip-class="red" data-placement="bottom"><span class="icon-trash"></span></a>
</div>
{% endif %}

<div class="clearfix"></div>
</div>
<div class="col-md-3 col-sm-2">
<div class="pc-avatar">
<a href="#" class="btn btn-icon btn-round btn-o palmaruss" title="{{ palmares.titre }}" data-toggle="tooltip" data-tooltip-class="red" data-placement="top" >
<span class=""><img src="{{ asset('titre.png') }}"></span></a>
</div>

</div>
<div class="col-md-3 col-sm-2">
<div class="pc-avatar">
<a href="#" class="btn btn-icon btn-round btn-o  palmaruss" title="{{ palmares.classment }}" data-toggle="tooltip" data-tooltip-class="red" data-placement="top">
<span ><img src="{{ asset('classement.png') }}"></span></a>
</div>

</div>
<div class="col-md-3 col-sm-2">
<div class="pc-avatar">
<a href="#" class="btn btn-icon btn-round btn-o  palmaruss" title="{{ palmares.date |date('Y-m-d')}}" data-toggle="tooltip" data-tooltip-class="red" data-placement="top">
<span ><img src="{{ asset('date.png') }}"></span></a>
</div>

</div>
{% set i= 0 %}
{% for member in club.adherents %}
    {% if app.user == member.member  and member.confirmed == 1 %}
        {% set i = 1 %}
        {% endif %}
    {% endfor %}
{% set memberOuNon = MemberOuNon(club.id,app.user) %}
{% if memberOuNon == 1 and i == 1%}
<div class="col-md-3 col-sm-2">
<div class="pc-avatar">
<a href="#" class="btn btn-icon btn-round btn-o  palmaruss" title="{{ palmares.member.member }}" data-toggle="tooltip" data-tooltip-class="red" data-placement="top">
<span >
{% if palmares.member.member.path == null %}
{% if palmares.member.member.sexe == 'H' %}
<img src="{{ asset('men.png') }}" >
{% else %}
<img src="{{ asset('women.png') }}">
{% endif %}
{% else %}
<img src="{{ asset( palmares.member.member.getWebPath ) }}" >
{% endif %}
</span>
</a>
</div>

</div>
{% endif %}
</div>

<div class="clearfix"></div>
</div>
</div>
</div>
{% endfor %}
</div>
</ul>
<!--------------------fin palmaes club ------------------------->
<!--------------------albums club ------------------------->
<ul class="tab-pane fade  scrollbar" id="albums" >
<div id="supprimer-a" style="display: none;" class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
Album Supprimer
</div>
<div id="supprimer-photo" style="display: none;" class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
photo Supprimer
</div>
{% if club.album|length == 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Liste vide!</strong>  Créer un pour commencer.
</div>

{% endif %}
{% if app.user == club.createur %}
<div class="buttonsWrapper col-xs-12">
<a id="ajoutAlbum" class="btn btn-round btn-default btn-sm rightus" href="#uploadalbum-club" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
<br>
</div>
{% endif %}
<div class="row">
<br>
{%set ph = 0 %}
{% for album in club.album %}
<div id='albumuser{{loop.index}}' class="col-xs-3 {{album.id}}" >
<div data-linkto="" class="card albumus tooltipsContainer" >
<div class="figure" id="main">
<a href="#" onclick="image({{album.id}})" >
{%if album.images|length == 0 %}
<img src="{{ asset('album_d.png') }}" />
{%else %}
<img src="{{ asset(album.images[0].WebPath) }}" />

{%endif %}
</a>
<div class="figView"></div>
</div>
<h2 align="center">{{ album.nom }}</h2>
<div align="center" >
{% if app.user == club.createur %}
<a href="#modifieralbum-club{{album.id}}"  data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#supprimeralbum_club_{{album.id}}"  data-toggle="modal"  class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>

{% endif %}
</div>
<br>
</div>
</div>
<div  id="ajouterphoto{{album.id}}" style="display: none;" class="buttonsWrapper col-xs-12">
<a id="lienphotoalbum" onclick="image2()" href="#albums">albums > {{album.nom }}</a>
{% if app.user == club.createur %}
<a class="btn btn-round btn-default btn-sm rightus" href="#uploadphotoAlbum{{album.id}}" data-toggle="modal"><span class="fa icon-plus state"></span> <span class="state">Upload</span></a>
{% endif %}
<br>
</div>   
{%for image in album.images %}
{%set  ph =  ph + 1 %}
<div  id="photos{{ph}}" style="display: none;"  class="col-sm-4 {{image.id}}">
<div  data-linkto="" class="propWidget-1 tooltipsContainer  ">
<div class="fig " id="main">
<a href="{{ asset(image.WebPath) }}" data-lightbox-title="Titre du photo" data-lightbox-gallery="gallery">
<img src="{{ asset(image.WebPath) }}" />
</a>
{% if app.user == club.createur %}
<div class="priceCap paddus">
<button href="#suppritus{{image.id}}" data-toggle="modal" data-placement="left" class="btn btn-icon btn-round btn-green btn-md rightus" title="supprimer"><span class="icon-trash"></span></button>
</div>
{% endif %}
<div class="figCap">
<div class="address">Cliquez pour agrandir l'image</div>
</div>
</div>
</div>
</div>

{% endfor %}
{% endfor %}
</div>
<div class="clearfix"></div>

</ul>
<!--------------------fin albums club ------------------------->
<!--------------------demende club ------------------------->
{% if app.user == club.createur %}
<ul class="tab-pane fade  scrollbar" id="demande" >
{% set demandes = getMembreRequest(club.id,app.user) %}
<div class="row pb40">
{% for  demande in demandes %}

<div id="demende{{demande.id}}" class="col-md-4 ">
<div class="tooltipsContainer agent notifyList">
<a href="{{path('show_profil',{'id' :demande.member.id})}}" class=" btn btn-round agent-avatar"  data-toggle="tooltip" data-tooltip-class="red" data-placement="bottom" title="{{ demande.member.nom }} {{ demande.member.prenom }}">
   {% if demande.member.WebPath == null %}
       {% if demande.member.sexe == 'H' %}
           <img src="{{ asset('men.png') }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
     {% else %}
               <img src="{{ asset('women.png') }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
               {% endif %}

               {% else%}
    <img src="{{ asset(demande.member.WebPath) }}" alt="">
    <div class="pulse border-green pulseoptimus"></div>
    {% endif %}
</a>
<div class="info">
    <a href="#">
    <div class="name clubumus"><strong>{{ demande.member.nom }} {{ demande.member.prenom }}</strong></div></a>
 <div class="title">{{ demande.member.profil }}</div><br>
<div id="{{demande.id}}" align="center">
    <a  id="accept_rejoindre{{demande.id}}" href="#" class="btn btn-icon btn-round btn-green btn-xs" title="accepter"><span class="fa fa-check"></span></a>
    <a  id="refuser_rejoindre{{demande.id}}" href="#" class="btn btn-icon btn-round btn-green btn-xs" title="refuser"><span class="fa fa-close"></span></a>
</div><br>
</div>
</div>
    </div>
{% endfor %}

</div>
<div class="clearfix"></div>
</ul>
{% endif %}
<!--------------------fin demende club ------------------------->
<!--------------------competition club ------------------------->
<ul class="tab-pane fade  scrollbar" id="compétitions" >
    <div id="supprimer-compe" style="display: none;" class="alert alert-danger">
<a class="close" data-dismiss="alert">×</a>
Compétition Supprimer
</div>
    {% if club.competitions|length == 0 %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
<div class="icon"><span class="fa fa-spin fa-spinner"></span></div>
<button type="button" class="close" data-dismiss="alert"></button>
<strong>Liste vide!</strong>  Créer un pour commencer.
</div>

{% endif %}
    {% if app.user == club.createur %}
<div class="buttonsWrapper col-xs-12">
<a id="ajoutAlbum" class="btn btn-round btn-default btn-sm rightus" href="{{ path('add-competition', {'id' : club.id }) }}"><span class="fa icon-plus state"></span> <span class="state">Ajouter </span></a><br>
<br>
</div>
{% endif %}
{% for competition in  club.competitions|reverse %}
    {% if competition.active == 1 %}

<div {% if date(competition.dateFin)<= date() %}style="background-color: #ddd"{% endif %} class="userWidget-2 tooltipsContainer col-xs-12 {{competition.id}}" >
<div class="tooltipsContainer avatar imagus col-md-4">
<a href="{{path('competition_show',{'id':competition.id})}}" class="btn btn-round avatar clubos" data-toggle="tooltip" data-tooltip-class="red" data-placement="right" title="{{competition.titre}}">
{% if competition.path == null %}
<img src="{{ asset('logoCompetition.png')}}" alt="avatar" ></a>
{% else %}
<img src="{{ asset(competition.WebPath)}}" alt="avatar" ></a>
{% endif %}</div>
<div class="col-md-6">
<div class="info" style="max-width: 100% !important">
<div ><a href="{{path('competition_show',{'id':competition.id})}}" class="name">{{competition.titre}}</a></div>
<div class="title"><span class="address"> Du {{ competition.dateDebut|date('d-m-Y H:i:s') ~' À '~competition.dateFin|date('d-m-Y H:i:s') }}</span></div>
<div class="title">Lieu : <span class="address">{{competition.lieu}}</span></div>
</div></div>
<div style="margin-top: 1%" align="right">
<a href="#plusInfoCompetition{{competition.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="Liste des participant"><span class="icon-users"></span></a>
{% if app.user == competition.club.createur and date(competition.dateFin)>= date()%}
<a href="{{ path('update-competition',{id: competition.id})}}"  class="btn btn-icon btn-round btn-green btn-xs" title="modifier"><span class="icon-settings"></span></a>
<a href="#supprimerCompetition{{competition.id}}" data-toggle="modal" class="btn btn-icon btn-round btn-green btn-xs" title="supprimer"><span class="icon-trash"></span></a>
{% endif %}
</div>
{% if date(competition.dateFin)<= date() %}
<div class="label label-danger" style="margin-left: 40%; font-size: 12px; background-color: #c02100 !important;">
Cette compétition est depassé
</div>
{% endif %}
<div class="clearfix"></div>
</div>
{% endif %}
    {% endfor %}
<div class="clearfix"></div>
</ul>
<!--------------------fin competition club ------------------------->
{% else %}
<ul class="tab-pane fade  active in scrollbar" id="nonPayer" >
<a href="{{ path('front_office_payment_prepare_order_purchase',{'id' : club.id }) }}">    <img style="width: 100%" src="{{ asset('logopayment.png') }}"></a>
</ul>
{% endif %}
</div>
<div class="clearfix"></div>


</div>
</div>

</div>
</div>

<div id="map-club" style="height: 100%" class="mob-min">
<div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
</div>

</div>
{% set members = adherents(club.id) %}
<div id="appenmodalaccept">
{% for member in members %}
<!------------------- modal supprission------------------->

<div class="modal" id="retirer{{member.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment cet Adhérent ?</p>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerAdherant{{member.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSupppMember{{member.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</div>
</div>
</div>
{% endfor %}
</div>

<!-----------------------Modal ShowClub--------------------------->
{% for competition in  club.competitions|reverse %}
    <div class="modal" id="plusInfoCompetition{{competition.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Liste des members </h4>
</div>
<div class="modal-body">
     <ul id='blockInvit' class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 200px;background-color:#fff;">
 <div class="col-md-12">
{% for particip in competition.particips %}
     
                                         {% for  part in  particip.partclubcomp %}
                                             
                                            
{% if app.user != part.participant.member %}
<div id="memberclubA{{part.participant.id}}" class="col-md-12">
    <div  style="margin-top: 3%;" class="col-md-2"><a href="{{ path('show_profil',{'id': part.participant.member.id}) }}" data-toggle="tooltip" data-tooltip-class="red" data-placement="right" title="{{part.participant.member.username}}">
{#<img src="{{ asset('event.jpg')}}" alt="avatar" ></a>#}
{% if part.participant.member.path == null %}
{% if part.participant.member.sexe == 'H' %}
<img style="width: 70%;" src="{{ asset('men.png') }}">
{% else %}
<img style="width: 70%;" src="{{ asset('women.png') }}">
{% endif %}
{% else %}
<img style="width: 70%;"  src="{{ asset(part.participant.member.WebPath)}}" alt="avatar" >
{% endif %}
</a></div>
<div  style="padding-top: 5%"  class="col-md-4"><span >Pseudo: {{part.participant.member.username}}</span></div>
<div   style="padding-top: 5%"  class="col-md-6"><span >Date Participation: {{particip.datePaticipation|date('d/m/Y H:i:s')}}</span></div>

</div>
  {% endif %}
{% endfor %}
{% endfor %}

</div>
     </ul>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
</div>
</div>
</div>
</div>
<!------------------------------------------------------>


    {% endfor %}
<div class="modal fade" id="modifierphotoClub" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Club:editPhoto',  { 'id': club.id })) }}
</div>
</div>


<div class="modal" id="inviteramiclub"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Mes Amis</h4>
</div>
<div class="modal-body">
<input id="inviterclub" type="hidden" name="event" value="{{club.id}}"/>
<ul id='blockInvit' class="notifyList scrollbar" style=" overflow-x: hidden; overflow-y: auto; overflow-wrap: break-word; max-height: 200px;background-color:#fff;">
<div id="listfriend" class="col-md-12">


{% set i = 0 %}
{% set friends = getFriends(club.createur.id) %}
{%for friend in friends %}
    {% if friend.profil == 'Sportif' %}
{% set memberOuNon = MemberOuNon(club.id,friend) %}
{% if memberOuNon == 0 %}
{% set i = i+1 %}
<label class="checkbox custom-checkbox col-md-6" style="margin-top: 0px">
<input id="listefrirnd{{friend.id}}" type="checkbox" name="name[]" value="{{ friend.id }}">
<span class="fa fa-check" style="margin-top: 3%;"></span>
{% if friend.path == null %}
{% if friend.sexe == 'H' %}
<img  style="width: 10%;margin-left: 4%;" src="{{ asset('men.png') }}">
{% else %}
<img  style="width: 10%;margin-left: 4%;" src="{{ asset('women.png') }}">
{% endif %}
{% else %}
<img  style="width: 10%;margin-left: 4%;"  src="{{ asset(friend.WebPath)}}" alt="avatar" ></a>
{% endif %}
Pseudo: {{friend.username}}
<div style="margin-top: 2%;"></div>
{% endif %}
</label>
{% endif %}
{% endfor %}
{% if i == 0 %}                
<div id="invitation-envoyées"  class="alert alert-success">
tous vos  amis sont particip
</div>
{% endif %}                                                                      
</div>
</ul>
</div>

<div class="modal-footer supp-album">
<a href="#" id="envoyerinvitfriendsubmit" class="btn btn-round btn-o btn-green">Inviter</a>
<a class="loader" id="loader" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>

<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
</div>
</div>
</div>
</div>
<!------------------- modal competition------------------->
<!--*********************************************************modal supprission competition*************************************************************-->
{% for competition in  club.competitions|reverse %}
    <div class="modal" id="supprimerCompetition{{competition.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer La Competition  ?</p>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerCompe{{competition.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSupppComp{{competition.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</div>
</div>
</div>
    {% endfor %}
<!--********************************************************fin modal supprission competition**********************************************************-->
<!-------------------fin modal competition ------------------->
<!--*********************modal supprimer Club*******************-->
<div class="modal fade" id="supprimerClub" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<form class="contactForm">
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer ce Club?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="bt-supprimer-club" href="{{ path('club_supprimer', { 'id' : club.id }) }}" type="submit" value="Submit" class="btn btn-round btn-green">Confirmer</a>
</div>
</form>
</div>
</div>
</div>
<!--*********************fin modal supprimer Club*******************-->
<!-------------------------Programmes ---------------------------------------->
<!--*********************modal ajouter programme Club*******************-->
<div class="modal fade" id="ajouterProgrammes" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Program:create',  { 'id': club.id })) }}
</div>
</div>
<!--*********************modal fin ajout programme Club*******************-->
{% for programme in programmes %}
<!--*********************modal modifier programme Club*******************-->
<div class="modal fade" id="modifierProgrammes_club_{{programme.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Program:editProgramClub',  { 'id_club': club.id,'id' : programme.id })) }}
</div>
</div>
<!--*********************modal fin modifier programme Club*******************-->
<!--**************** supprimer programmes ***************************-->
<div class="modal" id="supprimerprogramme_club_{{programme.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer cette palmares ?</p>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerProgrammeClub{{programme.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSuppprogramme{{programme.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</div>
</div>
</div>
<!--****************fin supprimer programmes ***************************-->
{% endfor %}
<!-------------------------Fin Programmes ------------------------------------>

<!--*********************modal ajouter palmares Club*******************-->
<div class="modal fade" id="ajouterpalmares" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Reward:addRewardClub',  { 'id': club.id })) }}
</div>
</div>
<!--*********************fin modal ajouter palmares Club*******************-->
<!--*********************modal modifier palmares***************************-->
{% for palmares in club.reward %}
<div class="modal fade" id="modifierpalmares_club_{{palmares.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Reward:update',  { 'id': palmares.id })) }}
</div>
</div>
<!--****************** fin modal modifier palmares **************************-->

<!--**************** supprimer palmares ***************************-->
<div class="modal" id="supprimerpalmares_club_{{palmares.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer cette palmares ?</p>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerPalmaresClub{{palmares.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSuppPal{{palmares.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</div>
</div>
</div>
{% endfor %}
<!-------------------------Fin Palmares ------------------------------------>
<!-------------------------Albums ------------------------------------>
<!--*********************modal ajouter albums Club*******************-->
<div class="modal fade" id="uploadalbum-club" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Album:createAlbumClub',  { 'id': club.id })) }}
</div>
</div>

<!--*********************fin modal ajouter album Club*******************-->
<!--*********************modal modifier album***************************-->
{% for album in club.album %}
<div class="modal fade" id="uploadphotoAlbum{{album.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Photo:createPhotoClub',  {'ida': album.id })) }}
</div>
</div>
<div class="modal fade" id="modifieralbum-club{{album.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
{{ render (controller('FrontOfficeOptimusBundle:Album:editAlbumClub',  {'id_club' : club.id, 'id': album.id })) }}
</div>
</div>
<!--****************** fin modal modifier palmares **************************-->

<!--**************** supprimer album ***************************-->
<div class="modal" id="supprimeralbum_club_{{album.id}}"   >
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer l'album {{ album.nom }} ?</p>
</div>
<div class="modal-footer supp-album">
<button id="close" type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerAlbumClub{{album.id}}" href="#" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSuppAlb{{album.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</div>
</div>
</div>
{%for image in album.images %}
<div class="modal fade" id="suppritus{{image.id}}" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content bordusbottomus">
<div class="modal-header bordustopus">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Suppression </h4>
</div>
<form class="contactForm">
<div class="modal-body">
<p>Souhaitez vous vraiment supprimer cette photo {{image.id}} ?</p>
</div>
<div class="modal-footer">
<button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>
<a id="supprimerPhoto{{image.id}}" href="#" type="submit" value="Submit" class="btn btn-round btn-green">Confirmer</a>
<a class="loader" id="loaderSuppPhoto{{image.id}}" >
<img src="{{asset('template/images/ajax-loader-comment.gif') }}">
</a>
</div>
</form>
</div>
</div>
</div>
{% endfor %}
{% endfor %}
<!-------------------------Fin Albums ------------------------------------>
<!------------------- modal cliquez ici------------------->
<div class="modal fade" id="clikus" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title" id="contactLabel">Description </h4>
</div>
<div class="modal-body">
<form class="contactForm">
<ul class="notifyList scrollbar">
{{ club.description|raw}}

</ul>
</div>
<div class="modal-footer">
 <button type="reset" data-dismiss="modal" value="Reset" class="btn btn-round btn-o btn-gray">Annuler</button>




</div></form>
</div>
</div>
</div>
<!-----------------------Fin Modal ShowClub--------------------------->
{% endblock %}
{% block javascriptfils %}
    
  <script src="{{ asset('folder/chosen.jquery.js') }}" type="text/javascript"></script>
  <script src="{{ asset('folder/prism.js') }}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"100%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

<script type="text/javascript">
    $('#frontoffice_optimusbundle_reward_date').datepicker()
</script>
<script>
$("#closemessag").click(function(){
$("#invitation-envoyées").hide();
});
</script>
<script>
    {% for competition in  club.competitions|reverse %}
        $("#supprimerCompe{{competition.id}}").click(function(){
           $("#supprimerCompe{{competition.id}}").hide(); 
           $("#loaderSupppComp{{competition.id}}").show();
           $.ajax({
               url: Routing.generate('delete_competition', {'id': {{competition.id}}}),
               success: function(data) {
                   $("#loaderSupppComp{{competition.id}}").hide();
                   $(".{{competition.id}}").hide();
                   $("#supprimerCompetition{{competition.id}}").hide();
                   $('.modal-backdrop').hide();
                   
                   $("#supprimer-compe").show();
               }
           });  
        });
        {% endfor %}
    </script>
<script>

$("#envoyerinvitfriendsubmit").click(function(){
$("#envoyerinvitfriendsubmit").hide();
$("#loader").show();
var club = {{club.id}}
var name = new Array;
test = 'false';
var i = 0;   
{% set friends = getFriends(club.createur.id) %}
 {%for friend in friends %}
    {% if friend.profil == 'Sportif' %}
{% set memberOuNon = MemberOuNon(club.id,friend) %}
{% if memberOuNon == 0 %}
if (document.getElementById('listefrirnd{{friend.id}}').checked){
name[i] = $("#listefrirnd{{friend.id}}").val();
i = i + 1;
test = 'true';
}{% endif %}
{% endif %}
{% endfor %}
$.ajax({
type: "POST",
url: Routing.generate('inviter_ami_club'),
data: {name:name, club:club},
dataType: 'json',
success: function(data) {

$('#loader').hide();
$("#inviteramiclub").hide();
$('.modal-backdrop').hide();
$("#envoyerinvitfriendsubmit").show();
$('#invitation-envoyées').show();
    {%for friend in friends %}
    {% if friend.profil == 'Sportif' %}
{% set memberOuNon = MemberOuNon(club.id,friend) %}
{% if memberOuNon == 0 %}
document.getElementById('listefrirnd{{friend.id}}').checked = false;
{% endif %}
    {% endif %}
{% endfor %}

}
});
});
</script>

<script >
{% set members = adherents(club.id) %}
{% for member in members %}
$('#supprimerAdherant{{member.id}}').click(function() {
$('#supprimerAdherant{{member.id}}').hide();
$('#loaderSupppMember{{member.id}}').show();

$.ajax({
url: Routing.generate('delete_member', {'id': {{member.id}}}),
success: function() {
$('#{{member.id}}').hide();

$("#retirer{{member.id}}").toggle();
$('.modal-backdrop').hide();
}
});
});
{% endfor %}
</script>
<script>
{% set demandes = getMembreRequest(club.id,app.user) %}
{% for demande in demandes %}
$('#accept_rejoindre{{demande.id}}').click(function() {

$.ajax({
url: Routing.generate('accept_demande', {'id': {{demande.id}}}),
success: function(data) {
tab = data.split('*');

$('#demende{{demande.id}}').hide();
$("#appendMember").append(tab[0]);
$('#appenmodalaccept').append(tab[1]); 
$(tab[2]).appendTo(document.body)
}
});
});
$('#refuser_rejoindre{{demande.id}}').click(function() {

var id = $('#{{demande.id}}').attr('id');
console.log(id);
$.ajax({
url: Routing.generate('delete_demande', {'id': id}),
success: function(data) {


$('#demende'+data).hide();
console.log(data);
}
});
});
{% endfor %}
</script>
<script>
{% for programme in programmes %}
$("#supprimerProgrammeClub{{programme.id}}").click(function(){
$("#supprimerProgrammeClub{{programme.id}}").hide();
$("#loaderSuppprogramme{{programme.id}}").show();
$.ajax({
url: Routing.generate('program_delete', {'id':{{programme.id}}}),
success: function() {

$('.{{programme.id}}').hide();
$('#supprimerprogramme_club_{{programme.id}}').toggle();
$('.modal-backdrop').hide();
$('#supprimer-pr-c').show();
}
});
});
{% endfor %}
</script>
<script>
{% for palmares in club.reward %}
$('#supprimerPalmaresClub{{palmares.id}}').click(function() {
$('#supprimerPalmaresClub{{palmares.id}}').hide();
$('#loaderSuppPal{{palmares.id}}').show();
$.ajax({
url: Routing.generate('delete_reward_club', {'id':{{palmares.id}}}),
success: function() {

$('.{{palmares.id}}').hide();
$('#supprimerpalmares_club_{{palmares.id}}').toggle();
$('.modal-backdrop').hide();
$('#supprimer-p-c').show();
}
});
});{% endfor %}
</script>
<script>
{%for album in club.album %}
{%for image in album.images %}
$('#supprimerPhoto{{image.id}}').click(function() {
$('#supprimerPhoto{{image.id}}').hide();
$('#loaderSuppPhoto{{image.id}}').show();
$.ajax({
url: Routing.generate('photo_delete', {'id':{{image.id}}}),
success: function(data) {

$('.{{image.id}}').hide();
$('#suppritus{{image.id}}').toggle();
$('.modal-backdrop').hide();
$('#supprimer-photo').show();
}
});
});{% endfor %}{% endfor %}

</script>
<script>
function image(id) {
{%set phs = 0 %}

{%for album in club.album %}
$('#albumuser{{loop.index}}').hide();
$('#ajoutAlbum').hide();
$('#ajouterphoto' + id).show();                                                                                                                                                                                                        {%for imag in album.images %}
{%set phs = phs + 1  %}
if ({{album.id}} == id){
$('#photos{{phs}}').show();
}

{% endfor %}
{%endfor %}
};
function image2() {
{%set phs = 0 %}

{%for album in club.album %}
$('#albumuser{{loop.index}}').show();
$('#ajoutAlbum').show();
$('#ajouterphoto{{album.id}}').hide();                                                                                                                                                                                                        {%for imag in album.images %}
{%set phs = phs + 1  %}

$('#photos{{phs}}').hide();{% endfor %}{%endfor %}
};</script>
<script>
{%for album in club.album %}
$('#supprimerAlbumClub{{album.id}}').click(function() {
$('#supprimerAlbumClub{{album.id}}').hide();
$('#loaderSuppAlb{{album.id}}').show();
$.ajax({
url: Routing.generate('album_delete', {'id': {{album.id}}}),
success: function(data) {
$('.' + data).hide();
$("#supprimeralbum_club_{{album.id}}").toggle();
$('.modal-backdrop').hide();
$('#supprimer-a').show();
}
});
});{% endfor %}
</script>
<script>
$("#some_class_2").change(function() {
var start = $('#some_class_1').val();
var end = $('#some_class_2').val();
if (start != '' && end != '') {
var tabstart = (new Date(start).getTime() / 1000);
var tabend = (new Date(end).getTime() / 1000);
if (tabstart > tabend) {
$('#notdate').show();
$('#some_class_2').val("");
}
else{
$('#notdate').hide();
}
}

});
</script>
<script>
"use strict";
function initialize() {
var options = {
zoom : 15,
mapTypeId: google.maps.MapTypeId.HYBRID
};
var mapclub = new google.maps.Map(document.getElementById('map-club'), options);
if (navigator.geolocation) {

navigator.geolocation.getCurrentPosition(function (position) {

var posevent = new google.maps.LatLng(position.coords.latitude,
position.coords.longitude);
var newMarker = new google.maps.Marker({

position: posevent,
map: mapclub,
icon: new google.maps.MarkerImage('http://www.optimus-beta.com/template/images/marker-position.png'),
draggable: false,
animation: google.maps.Animation.DROP

});
var myLatLng = new google.maps.LatLng({{club.lat}}, {{club.lng}});
var markerclub = new google.maps.Marker({
position: myLatLng,
map: mapclub,
icon: new google.maps.MarkerImage('http://www.optimus-beta.com/template/images/marker-green.png'),
draggable: false,
animation: google.maps.Animation.DROP
});
var directionsDisplay;
var directionsService = new google.maps.DirectionsService()
directionsDisplay = new google.maps.DirectionsRenderer({
polylineOptions: {
strokeColor: "#c02100"
}
});
directionsDisplay.setMap(mapclub);
calcRoute();
function calcRoute() {

var request = {
origin:posevent,
destination:myLatLng,
travelMode: google.maps.TravelMode.DRIVING
};
directionsService.route(request, function(response, status) {
if (status == google.maps.DirectionsStatus.OK) {
directionsDisplay.setDirections(response);
directionsDisplay.setOptions({ suppressMarkers: true });
}
});
}
}, function () {
handleNoGeolocation(true);
});
} else {
handleNoGeolocation(false);
}



}

google.maps.event.addDomListener(window, 'load', initialize);



</script>

<script>
$('.showoptimus').hover(function() {
$(this).find('.shownamus').stop(true, true).delay(1).fadeIn(1);
}, function() {
$(this).find('.shownamus').stop(true, true).delay(1).fadeOut(1);
});
</script>
{% endblock %}